### Goal: create feature table that includes
- abnormal lab values
- min max mean of select lab values
- min max mean of select chart events
- sum of urine output
- demographic data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import statistics
import matplotlib.pyplot as plt

In [2]:
labevents_subset = pd.read_csv('./subsets_tables_collection/labevents_subset.csv')
labevents_subset['HADM_ID'] = labevents_subset['HADM_ID'].astype(np.int64)
labevents_subset['CHARTTIME'] = pd.to_datetime(labevents_subset['CHARTTIME'])
labevents_subset['ROW_ID'] = 'lab' + labevents_subset['ROW_ID'].astype(str)


chartevents_subset = pd.read_csv('./subsets_tables_collection/chartevents_subset.csv')
chartevents_subset['HADM_ID'] = chartevents_subset['HADM_ID'].astype(np.int64)
chartevents_subset['CHARTTIME'] = pd.to_datetime(chartevents_subset['CHARTTIME'])
chartevents_subset['ROW_ID'] = 'chart' + chartevents_subset['ROW_ID'].astype(str)

outputevents_subset = pd.read_csv('./subsets_tables_collection/outputevents_subset.csv')
outputevents_subset['HADM_ID'] = outputevents_subset['HADM_ID'].astype(np.int64)
outputevents_subset['CHARTTIME'] = pd.to_datetime(outputevents_subset['CHARTTIME'])
outputevents_subset['ROW_ID'] = 'output' + outputevents_subset['ROW_ID'].astype(str)

lab_times = labevents_subset[['ROW_ID','CHARTTIME','HADM_ID']]
chart_times = chartevents_subset[['ROW_ID','CHARTTIME','HADM_ID']]
out_times = outputevents_subset[['ROW_ID','CHARTTIME','HADM_ID']]
lab_chart_out_times = pd.concat([lab_times, chart_times, out_times], sort=False)
grouped = lab_chart_out_times.groupby(['HADM_ID', pd.Grouper(freq='48H', key='CHARTTIME')])
count = 0
past_hadm = ''
def counter(x):
    global count, past_hadm
    curr_hadm = x.iloc[0]
    if past_hadm != curr_hadm:
        count = 0
        past_hadm = curr_hadm
    y = count
    count += 1
    return str(curr_hadm) + "_" + str(count)
lab_chart_out_times['HADM_datebin_num'] = grouped['HADM_ID'].transform(counter)

/Users/ergangwang/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (11,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
lab_chart_out_times

             ROW_ID           CHARTTIME  HADM_ID HADM_datebin_num
0         lab212234 2135-11-01 06:00:00   194592         194592_4
1         lab212235 2135-11-01 06:00:00   194592         194592_4
2         lab212236 2135-11-01 06:00:00   194592         194592_4
3         lab212237 2135-11-01 06:00:00   194592         194592_4
4         lab212238 2135-11-01 06:00:00   194592         194592_4
5         lab212239 2135-11-01 06:00:00   194592         194592_4
6         lab212240 2135-11-01 06:00:00   194592         194592_4
7         lab212241 2135-11-01 06:00:00   194592         194592_4
8         lab212242 2135-11-01 06:00:00   194592         194592_4
9         lab212243 2135-11-01 06:00:00   194592         194592_4
10        lab212244 2135-11-01 06:00:00   194592         194592_4
11        lab212245 2135-11-01 06:00:00   194592         194592_4
12        lab212246 2135-11-01 06:00:00   194592         194592_4
13        lab212247 2135-11-01 06:00:00   194592         194592_4
14        lab212248 2135-11-01 06:00:00   194592         194592_4
15        lab212249 2135-11-01 06:00:00   194592         194592_4
16        lab212250 2135-11-01 06:00:00   194592         194592_4
17        lab212251 2135-11-01 10:52:00   194592         194592_4
18        lab212252 2135-11-01 10:52:00   194592         194592_4
19        lab212253 2135-11-01 10:52:00   194592         194592_4
20        lab212254 2135-11-01 10:52:00   194592         194592_4
21        lab212255 2135-11-01 10:52:00   194592         194592_4
22        lab212256 2135-11-01 10:52:00   194592         194592_4
23        lab212257 2135-11-01 10:52:00   194592         194592_4
24        lab212258 2135-11-01 10:52:00   194592         194592_4
25        lab212259 2135-11-01 10:52:00   194592         194592_4
26        lab212260 2135-11-01 10:52:00   194592         194592_4
27        lab212261 2135-11-01 10:52:00   194592         194592_4
28        lab212262 2135-11-01 10:52:00   194592         194592_4
29        lab212263 2135-11-01 10:52:00   194592         194592_4
...             ...                 ...      ...              ...
3209  output4216409 2128-05-27 06:00:00   133081         133081_5
3210  output4216410 2128-05-27 07:54:00   133081         133081_5
3211  output4216411 2128-05-27 08:20:00   133081         133081_5
3212  output4216412 2128-05-27 10:06:00   133081         133081_5
3213  output4216413 2128-05-27 11:28:00   133081         133081_5
3214  output4216414 2128-05-27 14:13:00   133081         133081_5
3215  output4216415 2128-05-27 15:01:00   133081         133081_5
3216  output4216416 2128-05-27 15:21:00   133081         133081_5
3217  output4216417 2128-05-27 17:30:00   133081         133081_5
3218  output4216418 2128-05-27 18:09:00   133081         133081_5
3219  output4216419 2128-05-27 23:00:00   133081         133081_5
3220  output4216420 2128-05-28 02:00:00   133081         133081_5
3221  output4216421 2128-05-28 06:00:00   133081         133081_5
3222  output4216422 2128-05-28 09:01:00   133081         133081_5
3223  output4216423 2128-05-28 12:16:00   133081         133081_5
3224  output4216424 2128-05-28 18:55:00   133081         133081_5
3225  output4216425 2128-05-29 00:00:00   133081         133081_6
3226  output4216426 2128-05-20 20:09:00   133081         133081_1
3227  output4216244 2128-05-20 21:00:00   133081         133081_1
3228  output4216245 2128-05-20 22:00:00   133081         133081_1
3229  output4216246 2128-05-20 23:00:00   133081         133081_1
3230  output4216247 2128-05-21 00:00:00   133081         133081_2
3231  output4216248 2128-05-21 01:00:00   133081         133081_2
3232  output4216249 2128-05-21 02:00:00   133081         133081_2
3233  output4216250 2128-05-21 03:00:00   133081         133081_2
3234  output4216251 2128-05-21 04:00:00   133081         133081_2
3235  output4216252 2128-05-21 08:04:00   133081         133081_2
3236  output4216253 2128-05-21 10:00:00   133081         133081_2
3237  output4216254 2128-05-21 12:00:00   133081         133081_2
3238  output4216255 2128-05-24 02:12:00   133081         133081_3

[223489 rows x 4 columns]

In [4]:
# labevents_subset_binned = labevents_subset.merge(lab_chart_times, on=['ROW_ID', 'HADM_ID', 'CHARTTIME'])
# chartevents_subset_binned = chartevents_subset.merge(lab_chart_times, on=['ROW_ID', 'HADM_ID', 'CHARTTIME'])
labevents_subset_binned = labevents_subset.merge(lab_chart_out_times, on='ROW_ID')
chartevents_subset_binned = chartevents_subset.merge(lab_chart_out_times, on='ROW_ID')
outputevents_subset_binned = outputevents_subset.merge(lab_chart_out_times, on='ROW_ID')

In [5]:
labevents_subset_binned

,Unnamed: 0,index,ROW_ID,SUBJECT_ID,HADM_ID_x,ITEMID,CHARTTIME_x,VALUE,VALUENUM,VALUEUOM,FLAG,CHARTTIME_y,HADM_ID_y,HADM_datebin_num
0,0,204360,lab212234,338,194592,50912,2135-11-01 06:00:00,1.3,1.30,mg/dL,abnormal,2135-11-01 06:00:00,194592,194592_4
1,1,204361,lab212235,338,194592,50931,2135-11-01 06:00:00,86,86.00,mg/dL,NaN,2135-11-01 06:00:00,194592,194592_4
2,2,204362,lab212236,338,194592,50971,2135-11-01 06:00:00,3.8,3.80,mEq/L,NaN,2135-11-01 06:00:00,194592,194592_4
3,3,204363,lab212237,338,194592,50983,2135-11-01 06:00:00,139,139.00,mEq/L,NaN,2135-11-01 06:00:00,194592,194592_4
4,4,204364,lab212238,338,194592,51006,2135-11-01 06:00:00,16,16.00,mg/dL,NaN,2135-11-01 06:00:00,194592,194592_4
5,5,204365,lab212239,338,194592,51221,2135-11-01 06:00:00,28.4,28.40,%,abnormal,2135-11-01 06:00:00,194592,194592_4
6,6,204366,lab212240,338,194592,51222,2135-11-01 06:00:00,9.6,9.60,g/dL,abnormal,2135-11-01 06:00:00,194592,194592_4
7,7,204367,lab212241,338,194592,51237,2135-11-01 06:00:00,1.9,1.90,NaN,NaN,2135-11-01 06:00:00,194592,194592_4
8,8,204368,lab212242,338,194592,51248,2135-11-01 06:00:00,25.6,25.60,pg,abnormal,2135-11-01 06:00:00,194592,194592_4
9,9,204369,lab212243,338,194592,51249,2135-11-01 06:00:00,33.8,33.80,%,NaN,2135-11-01 06:00:00,194592,194592_4
10,10,204370,lab212244,338,194592,51250,2135-11-01 06:00:00,76,76.00,fL,abnormal,2135-11-01 06:00:00,194592,194592_4
11,11,204371,lab212245,338,194592,51265,2135-11-01 06:00:00,193,193.00,K/uL,NaN,2135-11-01 06:00:00,194592,194592_4
12,12,204372,lab212246,338,194592,51274,2135-11-01 06:00:00,16.7,16.70,sec,abnormal,2135-11-01 06:00:00,194592,194592_4
13,13,204373,lab212247,338,194592,51275,2135-11-01 06:00:00,78.4,78.40,sec,abnormal,2135-11-01 06:00:00,194592,194592_4
14,14,204374,lab212248,338,194592,51277,2135-11-01 06:00:00,15.5,15.50,%,NaN,2135-11-01 06:00:00,194592,194592_4
15,15,204375,lab212249,338,194592,51279,2135-11-01 06:00:00,3.74,3.74,m/uL,abnormal,2135-11-01 06:00:00,194592,194592_4
16,16,204376,lab212250,338,194592,51301,2135-11-01 06:00:00,5.2,5.20,K/uL,NaN,2135-11-01 06:00:00,194592,194592_4
17,17,204377,lab212251,338,194592,51087,2135-11-01 10:52:00,RANDOM,NaN,NaN,NaN,2135-11-01 10:52:00,194592,194592_4
18,18,204378,lab212252,338,194592,51463,2135-11-01 10:52:00,OCC,NaN,NaN,NaN,2135-11-01 10:52:00,194592,194592_4
19,19,204379,lab212253,338,194592,51464,2135-11-01 10:52:00,NEG,NaN,EU/dL,NaN,2135-11-01 10:52:00,194592,194592_4
20,20,204380,lab212254,338,194592,51466,2135-11-01 10:52:00,LGE,NaN,NaN,NaN,2135-11-01 10:52:00,194592,194592_4
21,21,204381,lab212255,338,194592,51476,2135-11-01 10:52:00,0,0.00,#/hpf,NaN,2135-11-01 10:52:00,194592,194592_4
22,22,204382,lab212256,338,194592,51478,2135-11-01 10:52:00,NEG,NaN,mg/dL,NaN,2135-11-01 10:52:00,194592,194592_4
23,23,204383,lab212257,338,194592,51484,2135-11-01 10:52:00,NEG,NaN,mg/dL,NaN,2135-11-01 10:52:00,194592,194592_4
24,24,204384,lab212258,338,194592,51486,2135-11-01 10:52:00,NEG,NaN,NaN,NaN,2135-11-01 10:52:00,194592,194592_4
25,25,204385,lab212259,338,194592,51487,2135-11-01 10:52:00,NEG,NaN,NaN,NaN,2135-11-01 10:52:00,194592,194592_4
26,26,204386,lab212260,338,194592,51491,2135-11-01 10:52:00,8.0,8.00,units,NaN,2135-11-01 10:52:00,194592,194592_4
27,27,204387,lab212261,338,194592,51492,2135-11-01 10:52:00,30,30.00,mg/dL,NaN,2135-11-01 10:52:00,194592,194592_4
28,28,204388,lab212262,338,194592,51493,2135-11-01 10:52:00,78,78.00,#/hpf,abnormal,2135-11-01 10:52:00,194592,194592_4
29,29,204389,lab212263,338,194592,51498,2135-11-01 10:52:00,1.010,1.01,,NaN,2135-11-01 10:52:00,194592,194592_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17007,17007,27236864,lab27213185,94828,158150,51265,2112-03-03 05:40:00,171,171.00,K/uL,NaN,2112-03-03 05:40:00,158150,158150_5
17008,17008,27236865,lab27213186,94828,158150,51274,2112-03-03 05:40:00,22.3,22.30,sec,abnormal,2112-03-03 05:40:00,158150,158150_5
17009,17009,27236866,lab27213187,94828,158150,51275,2112-03-03 05:40:00,31.2,31.20,sec,NaN,2112-03-03 05:40:00,158150,158150_5
17010,17010,27236867,lab27213188,94828,158150,51277,2112-03-03 05:40:00,19.2,19.20,%,abnormal,2112-03-03 05:40:00,158150,158150_5
17011,17011,27236868,lab27213189,94828,158150,51279,2112-03-03 05:40:00,5.91,5.91,m/uL,NaN,2112-03-03 05:40:00,158150,158150_5
17012,17012,27236869,lab27213190,94828,158150,51301,2112-03-03 05:40:00,9.4,9.40,K/uL,NaN,2112-03-03 05:40:00,158150,158150_5
17013,17013,27236870,lab27213191,94828,158150,50861,2112-03-04 06:30:00,27,27.00,IU/L,NaN,2112-03-04 06:30:00,158150,158150_6
17014,17014,27236871,lab27213192,94828,158150,50863,2112-03-04 06:30:00,321,321.00,IU/L,abnormal,2112-03-04 06:30:00,158150,158150_6
17015,17015,27236872,lab27213193,94828,158150,50868,2112-03-04 06:30:00,13,13.00,mEq/L,NaN,2112-03-04 06:30:00,158150,158150_6
17016,17016,27236873,lab27213194,94828,158150,50878,2112-03-04 06:30:00,45,45.00,IU/L,abnormal,2112-03-04 06:30:00,158150,158150_6
17017,17017,27236874,lab27213195,94828,158150,50882,2112-03-04 06:30:00,35,35.00,mEq/L,abnormal,2112-03-04 06:30:00,158150,158150_6
17018,17018,27236875,lab27213196,94828,158150,50885,2112-03-04 06:30:00,1.5,1.50,mg/dL,NaN,2112-03-04 06:30:00,158150,158150_6
17019,17019,27236876,lab27213197,94828,158150,50893,2112-03-04 06:30:00,8.6,8.60,mg/dL,NaN,2112-03-04 06:30:00,158150,158150_6
17020,17020,27236877,lab27213198,94828,158150,50902,2112-03-04 06:30:00,94,94.00,mEq/L,abnormal,2112-03-04 06:30:00,158150,158150_6
17021,17021,27236878,lab27213199,94828,158150,50912,2112-03-04 06:30:00,1.4,1.40,mg/dL,abnormal,2112-03-04 06:30:00,158150,158150_6
17022,17022,27236879,lab27213200,94828,158150,50931,2112-03-04 06:30:00,256,256.00,mg/dL,abnormal,2112-03-04 06:30:00,158150,158150_6
17023,17023,27236880,lab27213201,94828,158150,50954,2112-03-04 06:30:00,205,205.00,IU/L,NaN,2112-03-04 06:30:00,158150,158150_6
17024,17024,27236881,lab27213202,94828,158150,50960,2112-03-04 06:30:00,2.4,2.40,mg/dL,NaN,2112-03-04 06:30:00,158150,158150_6
17025,17025,27236882,lab27213203,94828,158150,50970,2112-03-04 06:30:00,3.2,3.20,mg/dL,NaN,2112-03-04 06:30:00,158150,158150_6
17026,17026,27236883,lab27213204,94828,158150,50971,2112-03-04 06:30:00,4.0,4.00,mEq/L,NaN,2112-03-04 06:30:00,158150,158150_6
17027,17027,27236884,lab27213205,94828,158150,50983,2112-03-04 06:30:00,138,138.00,mEq/L,NaN,2112-03-04 06:30:00,158150,158150_6
17028,17028,27236885,lab27213206,94828,158150,51006,2112-03-04 06:30:00,63,63.00,mg/dL,abnormal,2112-03-04 06:30:00,158150,158150_6
17029,17029,27236886,lab27213207,94828,158150,51221,2112-03-04 06:30:00,38.3,38.30,%,abnormal,2112-03-04 06:30:00,158150,158150_6
17030,17030,27236887,lab27213208,94828,158150,51222,2112-03-04 06:30:00,11.6,11.60,g/dL,abnormal,2112-03-04 06:30:00,158150,158150_6
17031,17031,27236888,lab27213209,94828,158150,51237,2112-03-04 06:30:00,1.8,1.80,NaN,abnormal,2112-03-04 06:30:00,158150,158150_6
17032,17032,27236889,lab27213210,94828,158150,51248,2112-03-04 06:30:00,19.1,19.10,pg,abnormal,2112-03-04 06:30:00,158150,158150_6
17033,17033,27236890,lab27213211,94828,158150,51249,2112-03-04 06:30:00,30.2,30.20,%,abnormal,2112-03-04 06:30:00,158150,158150_6
17034,17034,27236891,lab27213212,94828,158150,51250,2112-03-04 06:30:00,63,63.00,fL,abnormal,2112-03-04 06:30:00,158150,158150_6
17035,17035,27236892,lab27213213,94828,158150,51265,2112-03-04 06:30:00,205,205.00,K/uL,NaN,2112-03-04 06:30:00,158150,158150_6
17036,17036,27236893,lab27213214,94828,158150,51274,2112-03-04 06:30:00,19.5,19.50,sec,abnormal,2112-03-04 06:30:00,158150,158150_6

In [6]:
import sqlite3 # library for working with sqlite database
conn = sqlite3.connect("/Users/ergangwang/Downloads/DSAH_Final/data_MIMIC/MIMIC.db") # Create a connection to the on-disk database
labitems = pd.read_sql("SELECT * FROM d_labitems", conn)
cols_to_use = ['ITEMID']
labevents_subset_binned = labevents_subset_binned.merge(labitems, on=cols_to_use)
labevents_subset_binned = labevents_subset_binned.drop(columns=['ROW_ID_y', 'index_y'])

In [7]:
labevents_subset_binned

,Unnamed: 0,index_x,ROW_ID_x,SUBJECT_ID,HADM_ID_x,ITEMID,CHARTTIME_x,VALUE,VALUENUM,VALUEUOM,FLAG,CHARTTIME_y,HADM_ID_y,HADM_datebin_num,LABEL,FLUID,CATEGORY,LOINC_CODE
0,0,204360,lab212234,338,194592,50912,2135-11-01 06:00:00,1.3,1.3,mg/dL,abnormal,2135-11-01 06:00:00,194592,194592_4,Creatinine,Blood,Chemistry,2160-0
1,40,204400,lab212274,338,194592,50912,2135-11-02 06:00:00,1.4,1.4,mg/dL,abnormal,2135-11-02 06:00:00,194592,194592_4,Creatinine,Blood,Chemistry,2160-0
2,68,204904,lab212302,338,194592,50912,2135-11-03 08:50:00,1.3,1.3,mg/dL,abnormal,2135-11-03 08:50:00,194592,194592_5,Creatinine,Blood,Chemistry,2160-0
3,87,209756,lab212001,338,194592,50912,2135-10-27 05:25:00,1.5,1.5,mg/dL,abnormal,2135-10-27 05:25:00,194592,194592_1,Creatinine,Blood,Chemistry,2160-0
4,121,210499,lab212035,338,194592,50912,2135-10-27 19:01:00,1.4,1.4,mg/dL,abnormal,2135-10-27 19:01:00,194592,194592_1,Creatinine,Blood,Chemistry,2160-0
5,144,210522,lab212058,338,194592,50912,2135-10-28 00:20:00,1.4,1.4,mg/dL,abnormal,2135-10-28 00:20:00,194592,194592_2,Creatinine,Blood,Chemistry,2160-0
6,191,211766,lab212105,338,194592,50912,2135-10-28 14:20:00,1.3,1.3,mg/dL,abnormal,2135-10-28 14:20:00,194592,194592_2,Creatinine,Blood,Chemistry,2160-0
7,196,211771,lab212110,338,194592,50912,2135-10-28 22:20:00,1.2,1.2,mg/dL,NaN,2135-10-28 22:20:00,194592,194592_2,Creatinine,Blood,Chemistry,2160-0
8,206,211781,lab212120,338,194592,50912,2135-10-29 07:05:00,1.3,1.3,mg/dL,abnormal,2135-10-29 07:05:00,194592,194592_2,Creatinine,Blood,Chemistry,2160-0
9,232,212279,lab212146,338,194592,50912,2135-10-30 06:50:00,1.4,1.4,mg/dL,abnormal,2135-10-30 06:50:00,194592,194592_3,Creatinine,Blood,Chemistry,2160-0
10,272,213028,lab212186,338,194592,50912,2135-10-31 05:30:00,1.3,1.3,mg/dL,abnormal,2135-10-31 05:30:00,194592,194592_3,Creatinine,Blood,Chemistry,2160-0
11,330,219815,lab211947,338,194592,50912,2135-10-26 19:30:00,1.5,1.5,mg/dL,abnormal,2135-10-26 19:30:00,194592,194592_1,Creatinine,Blood,Chemistry,2160-0
12,379,330109,lab339339,495,186199,50912,2183-05-21 16:09:00,4.7,4.7,mg/dL,abnormal,2183-05-21 16:09:00,186199,186199_5,Creatinine,Blood,Chemistry,2160-0
13,392,330122,lab339352,495,186199,50912,2183-05-21 22:00:00,4.3,4.3,mg/dL,abnormal,2183-05-21 22:00:00,186199,186199_5,Creatinine,Blood,Chemistry,2160-0
14,442,330657,lab339402,495,186199,50912,2183-05-22 04:00:00,4.2,4.2,mg/dL,abnormal,2183-05-22 04:00:00,186199,186199_5,Creatinine,Blood,Chemistry,2160-0
15,496,331946,lab339456,495,186199,50912,2183-05-22 08:44:00,4.1,4.1,mg/dL,abnormal,2183-05-22 08:44:00,186199,186199_5,Creatinine,Blood,Chemistry,2160-0
16,521,335681,lab339077,495,186199,50912,2183-05-13 16:45:00,3.5,3.5,mg/dL,abnormal,2183-05-13 16:45:00,186199,186199_1,Creatinine,Blood,Chemistry,2160-0
17,561,336454,lab339117,495,186199,50912,2183-05-14 05:30:00,3.5,3.5,mg/dL,abnormal,2183-05-14 05:30:00,186199,186199_1,Creatinine,Blood,Chemistry,2160-0
18,572,336465,lab339128,495,186199,50912,2183-05-15 05:20:00,3.2,3.2,mg/dL,abnormal,2183-05-15 05:20:00,186199,186199_2,Creatinine,Blood,Chemistry,2160-0
19,592,336974,lab339148,495,186199,50912,2183-05-16 05:00:00,3.0,3.0,mg/dL,abnormal,2183-05-16 05:00:00,186199,186199_2,Creatinine,Blood,Chemistry,2160-0
20,612,336994,lab339168,495,186199,50912,2183-05-17 04:30:00,3.1,3.1,mg/dL,abnormal,2183-05-17 04:30:00,186199,186199_3,Creatinine,Blood,Chemistry,2160-0
21,632,337738,lab339188,495,186199,50912,2183-05-18 04:00:00,3.0,3.0,mg/dL,abnormal,2183-05-18 04:00:00,186199,186199_3,Creatinine,Blood,Chemistry,2160-0
22,652,337758,lab339208,495,186199,50912,2183-05-19 02:30:00,3.2,3.2,mg/dL,abnormal,2183-05-19 02:30:00,186199,186199_4,Creatinine,Blood,Chemistry,2160-0
23,681,338290,lab339237,495,186199,50912,2183-05-20 01:30:00,3.8,3.8,mg/dL,abnormal,2183-05-20 01:30:00,186199,186199_4,Creatinine,Blood,Chemistry,2160-0
24,711,339036,lab339267,495,186199,50912,2183-05-20 18:25:00,4.3,4.3,mg/dL,abnormal,2183-05-20 18:25:00,186199,186199_4,Creatinine,Blood,Chemistry,2160-0
25,744,339069,lab339300,495,186199,50912,2183-05-21 03:15:00,4.6,4.6,mg/dL,abnormal,2183-05-21 03:15:00,186199,186199_5,Creatinine,Blood,Chemistry,2160-0
26,781,482346,lab489829,746,117382,50912,2159-12-02 08:10:00,0.9,0.9,mg/dL,NaN,2159-12-02 08:10:00,117382,117382_4,Creatinine,Blood,Chemistry,2160-0
27,808,482827,lab489856,746,117382,50912,2159-12-04 05:25:00,0.9,0.9,mg/dL,NaN,2159-12-04 05:25:00,117382,117382_5,Creatinine,Blood,Chemistry,2160-0
28,828,490126,lab489596,746,117382,50912,2159-11-26 08:40:00,1.1,1.1,mg/dL,NaN,2159-11-26 08:40:00,117382,117382_1,Creatinine,Blood,Chemistry,2160-0
29,885,490666,lab489654,746,117382,50912,2159-11-27 01:28:00,1.1,1.1,mg/dL,NaN,2159-11-27 01:28:00,117382,117382_2,Creatinine,Blood,Chemistry,2160-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17007,10063,19332260,lab19346001,31730,174225,51450,2150-11-18 16:26:00,19,19.0,%,abnormal,2150-11-18 16:26:00,174225,174225_5,Monos,Pleural,Hematology,33362-5
17008,10064,19332261,lab19346002,31730,174225,51452,2150-11-18 16:26:00,1,1.0,%,abnormal,2150-11-18 16:26:00,174225,174225_5,NRBC,Pleural,Hematology,None
17009,10065,19332262,lab19346003,31730,174225,51455,2150-11-18 16:26:00,36,36.0,%,abnormal,2150-11-18 16:26:00,174225,174225_5,Polys,Pleural,Hematology,26519-9
17010,10066,19332263,lab19346004,31730,174225,51457,2150-11-18 16:26:00,2200,2200.0,#/uL,abnormal,2150-11-18 16:26:00,174225,174225_5,"RBC, Pleural",Pleural,Hematology,26456-4
17011,10067,19332264,lab19346005,31730,174225,51458,2150-11-18 16:26:00,100,100.0,#/uL,abnormal,2150-11-18 16:26:00,174225,174225_5,"WBC, Pleural",Pleural,Hematology,26467-1
17012,10132,19993885,lab20019264,40788,105348,50955,2155-10-21 22:17:00,HOLD,NaN,NaN,NaN,2155-10-21 22:17:00,105348,105348_1,Light Green Top Hold,Blood,Chemistry,None
17013,14464,25639576,lab25233515,79425,150548,50955,2167-03-09 20:20:00,HOLD,NaN,NaN,NaN,2167-03-09 20:20:00,150548,150548_1,Light Green Top Hold,Blood,Chemistry,None
17014,10637,20524135,lab20185441,42071,186278,50980,2117-08-11 01:00:00,31,31.0,IU/mL,abnormal,2117-08-11 01:00:00,186278,186278_4,Rheumatoid Factor,Blood,Chemistry,6928-6
17015,10907,20700431,lab20942011,47912,182705,50950,2179-10-27 18:39:00,328,328.0,mg/dL,abnormal,2179-10-27 18:39:00,182705,182705_1,Immunoglobulin G,Blood,Chemistry,2465-3
17016,11209,20758470,lab20942313,47912,182705,50950,2179-11-01 10:22:00,400,400.0,mg/dL,abnormal,2179-11-01 10:22:00,182705,182705_3,Immunoglobulin G,Blood,Chemistry,2465-3
17017,11210,20758471,lab20942314,47912,182705,50951,2179-11-01 10:22:00,79,79.0,mg/dL,NaN,2179-11-01 10:22:00,182705,182705_3,Immunoglobulin M,Blood,Chemistry,2472-9
17018,12245,22414620,lab23228538,64192,160781,50997,2179-04-14 15:45:00,0.2,0.2,ug/mL,abnormal,2179-04-14 15:45:00,160781,160781_4,Tobramycin,Blood,Chemistry,35670-9
17019,12626,22438323,lab23228408,64192,160781,50997,2179-04-13 04:09:00,0.9,0.9,ug/mL,abnormal,2179-04-13 04:09:00,160781,160781_3,Tobramycin,Blood,Chemistry,35670-9
17020,13231,24698508,lab24741081,75856,122406,51264,2123-09-27 07:10:00,1+,NaN,NaN,NaN,2123-09-27 07:10:00,122406,122406_4,Platelet Clumps,Blood,Hematology,40741-1
17021,13300,24708228,lab24741110,75856,122406,50915,2123-09-27 12:06:00,1264,1264.0,ng/mL,abnormal,2123-09-27 12:06:00,122406,122406_4,D-Dimer,Blood,Chemistry,None
17022,14390,25556739,lab25233958,79425,150548,50963,2167-03-18 05:19:00,10099,10099.0,pg/mL,abnormal,2167-03-18 05:19:00,150548,150548_6,NTproBNP,Blood,Chemistry,33762-6
17023,14772,26040012,lab25878184,84071,160709,50963,2159-08-02 08:45:00,1615,1615.0,pg/mL,abnormal,2159-08-02 08:45:00,160709,160709_1,NTproBNP,Blood,Chemistry,33762-6
17024,14586,25649311,lab25233637,79425,150548,51501,2167-03-11 16:44:00,<1,NaN,#/hpf,NaN,2167-03-11 16:44:00,150548,150548_2,Transitional Epithelial Cells,Urine,Hematology,30089-7
17025,15275,26865768,lab27213952,94828,150832,51288,2112-08-24 11:16:00,16,16.0,mm/hr,abnormal,2112-08-24 11:16:00,150832,150832_8,Sedimentation Rate,Blood,Hematology,4537-7
17026,15439,26919514,lab27213315,94828,150832,51288,2112-08-09 21:34:00,55,55.0,mm/hr,abnormal,2112-08-09 21:34:00,150832,150832_1,Sedimentation Rate,Blood,Hematology,4537-7
17027,16731,27198110,lab27214137,94828,116543,51288,2112-10-11 15:04:00,35,35.0,mm/hr,abnormal,2112-10-11 15:04:00,116543,116543_1,Sedimentation Rate,Blood,Hematology,4537-7
17028,15429,26919504,lab27213305,94828,150832,50866,2112-08-09 21:34:00,21,21.0,umol/L,NaN,2112-08-09 21:34:00,150832,150832_1,Ammonia,Blood,Chemistry,16362-6
17029,15436,26919511,lab27213312,94828,150832,50927,2112-08-09 21:34:00,100,100.0,IU/L,abnormal,2112-08-09 21:34:00,150832,150832_1,Gamma Glutamyltransferase,Blood,Chemistry,2324-2
17030,15568,26939101,lab27213444,94828,150832,50927,2112-08-12 03:30:00,102,102.0,IU/L,abnormal,2112-08-12 03:30:00,150832,150832_2,Gamma Glutamyltransferase,Blood,Chemistry,2324-2
17031,15533,26929364,lab27213409,94828,150832,51095,2112-08-11 15:20:00,39.7,39.7,mg/dL,NaN,2112-08-11 15:20:00,150832,150832_2,"Phosphate, Urine",Urine,Chemistry,2778-9
17032,16294,27123690,lab26913366,92475,133162,51259,2143-08-25 07:30:00,7,7.0,%,abnormal,2143-08-25 07:30:00,133162,133162_1,Other Cells,Blood,Hematology,729-4
17033,16378,27142978,lab26913450,92475,133162,51259,2143-08-26 05:00:00,10,10.0,%,abnormal,2143-08-26 05:00:00,133162,133162_1,Other Cells,Blood,Hematology,729-4
17034,16419,27152869,lab26913491,92475,133162,51259,2143-08-27 05:10:00,10,10.0,%,abnormal,2143-08-27 05:10:00,133162,133162_2,Other Cells,Blood,Hematology,729-4
17035,16346,27142946,lab26913418,92475,133162,51292,2143-08-25 18:02:00,1+,NaN,NaN,NaN,2143-08-25 18:02:00,133162,133162_1,Spherocytes,Blood,Hematology,802-9
17036,16420,27152870,lab26913492,92475,133162,51263,2143-08-27 05:10:00,1,1.0,%,abnormal,2143-08-27 05:10:00,133162,133162_2,Plasma Cells,Blood,Hematology,13047-6

### Make features out of abnormal lab values

In [8]:
labevents_subset_abnormal = labevents_subset_binned[labevents_subset_binned['FLAG'] == 'abnormal']
labevents_subset_normal = labevents_subset_binned[labevents_subset_binned['FLAG'] != 'abnormal']

In [9]:
# dropping lab categories detected abnormal less than 5 times
num_abnormal_labels = labevents_subset_abnormal.LABEL.value_counts()
abnormal_labels = num_abnormal_labels[num_abnormal_labels > 5].index
abnormal_labels

Index(['Glucose', 'Hematocrit', 'Hemoglobin', 'Red Blood Cells',
       'Urea Nitrogen', 'Creatinine', 'PT', 'RDW', 'Calcium, Total',
       'Chloride', 'pO2', 'PTT', 'Bicarbonate', 'Phosphate', 'MCH', 'Sodium',
       'Platelet Count', 'pCO2', 'White Blood Cells', 'INR(PT)', 'pH', 'MCHC',
       'MCV', 'Lactate', 'Troponin T', 'Free Calcium', 'Creatine Kinase (CK)',
       'Calculated Total CO2', 'Lymphocytes', 'Neutrophils', 'Potassium',
       'Albumin', 'Anion Gap', 'Magnesium', 'Bilirubin, Total',
       'Osmolality, Measured', 'Alkaline Phosphatase',
       'Asparate Aminotransferase (AST)', 'Creatine Kinase, MB Isoenzyme',
       'Lactate Dehydrogenase (LD)', 'Potassium, Whole Blood', 'RBC',
       'Alanine Aminotransferase (ALT)', 'CK-MB Index', 'Vancomycin',
       'Fibrinogen, Functional', 'Sodium, Whole Blood', 'Cortisol',
       'Hyaline Casts', 'WBC', 'Bands', 'Chloride, Whole Blood', 'Eosinophils',
       'Iron', 'Gentamicin', 'Bilirubin, Direct', 'Metamyelocytes',
       'Iron Binding Capacity, Total', 'Transferrin', 'Monocytes',
       'Calculated Bicarbonate, Whole Blood', 'D-Dimer', 'Urobilinogen',
       'Phenytoin', 'Troponin I', 'Thyroxine (T4), Free'],
      dtype='object')

In [10]:
#only greater than 5 times abnormal
labevents_subset_abnormal = labevents_subset_abnormal[labevents_subset_abnormal['LABEL'].isin(abnormal_labels)]

In [11]:
labevents_subset_abnormal

,Unnamed: 0,index_x,ROW_ID_x,SUBJECT_ID,HADM_ID_x,ITEMID,CHARTTIME_x,VALUE,VALUENUM,VALUEUOM,FLAG,CHARTTIME_y,HADM_ID_y,HADM_datebin_num,LABEL,FLUID,CATEGORY,LOINC_CODE
0,0,204360,lab212234,338,194592,50912,2135-11-01 06:00:00,1.3,1.3,mg/dL,abnormal,2135-11-01 06:00:00,194592,194592_4,Creatinine,Blood,Chemistry,2160-0
1,40,204400,lab212274,338,194592,50912,2135-11-02 06:00:00,1.4,1.4,mg/dL,abnormal,2135-11-02 06:00:00,194592,194592_4,Creatinine,Blood,Chemistry,2160-0
2,68,204904,lab212302,338,194592,50912,2135-11-03 08:50:00,1.3,1.3,mg/dL,abnormal,2135-11-03 08:50:00,194592,194592_5,Creatinine,Blood,Chemistry,2160-0
3,87,209756,lab212001,338,194592,50912,2135-10-27 05:25:00,1.5,1.5,mg/dL,abnormal,2135-10-27 05:25:00,194592,194592_1,Creatinine,Blood,Chemistry,2160-0
4,121,210499,lab212035,338,194592,50912,2135-10-27 19:01:00,1.4,1.4,mg/dL,abnormal,2135-10-27 19:01:00,194592,194592_1,Creatinine,Blood,Chemistry,2160-0
5,144,210522,lab212058,338,194592,50912,2135-10-28 00:20:00,1.4,1.4,mg/dL,abnormal,2135-10-28 00:20:00,194592,194592_2,Creatinine,Blood,Chemistry,2160-0
6,191,211766,lab212105,338,194592,50912,2135-10-28 14:20:00,1.3,1.3,mg/dL,abnormal,2135-10-28 14:20:00,194592,194592_2,Creatinine,Blood,Chemistry,2160-0
8,206,211781,lab212120,338,194592,50912,2135-10-29 07:05:00,1.3,1.3,mg/dL,abnormal,2135-10-29 07:05:00,194592,194592_2,Creatinine,Blood,Chemistry,2160-0
9,232,212279,lab212146,338,194592,50912,2135-10-30 06:50:00,1.4,1.4,mg/dL,abnormal,2135-10-30 06:50:00,194592,194592_3,Creatinine,Blood,Chemistry,2160-0
10,272,213028,lab212186,338,194592,50912,2135-10-31 05:30:00,1.3,1.3,mg/dL,abnormal,2135-10-31 05:30:00,194592,194592_3,Creatinine,Blood,Chemistry,2160-0
11,330,219815,lab211947,338,194592,50912,2135-10-26 19:30:00,1.5,1.5,mg/dL,abnormal,2135-10-26 19:30:00,194592,194592_1,Creatinine,Blood,Chemistry,2160-0
12,379,330109,lab339339,495,186199,50912,2183-05-21 16:09:00,4.7,4.7,mg/dL,abnormal,2183-05-21 16:09:00,186199,186199_5,Creatinine,Blood,Chemistry,2160-0
13,392,330122,lab339352,495,186199,50912,2183-05-21 22:00:00,4.3,4.3,mg/dL,abnormal,2183-05-21 22:00:00,186199,186199_5,Creatinine,Blood,Chemistry,2160-0
14,442,330657,lab339402,495,186199,50912,2183-05-22 04:00:00,4.2,4.2,mg/dL,abnormal,2183-05-22 04:00:00,186199,186199_5,Creatinine,Blood,Chemistry,2160-0
15,496,331946,lab339456,495,186199,50912,2183-05-22 08:44:00,4.1,4.1,mg/dL,abnormal,2183-05-22 08:44:00,186199,186199_5,Creatinine,Blood,Chemistry,2160-0
16,521,335681,lab339077,495,186199,50912,2183-05-13 16:45:00,3.5,3.5,mg/dL,abnormal,2183-05-13 16:45:00,186199,186199_1,Creatinine,Blood,Chemistry,2160-0
17,561,336454,lab339117,495,186199,50912,2183-05-14 05:30:00,3.5,3.5,mg/dL,abnormal,2183-05-14 05:30:00,186199,186199_1,Creatinine,Blood,Chemistry,2160-0
18,572,336465,lab339128,495,186199,50912,2183-05-15 05:20:00,3.2,3.2,mg/dL,abnormal,2183-05-15 05:20:00,186199,186199_2,Creatinine,Blood,Chemistry,2160-0
19,592,336974,lab339148,495,186199,50912,2183-05-16 05:00:00,3.0,3.0,mg/dL,abnormal,2183-05-16 05:00:00,186199,186199_2,Creatinine,Blood,Chemistry,2160-0
20,612,336994,lab339168,495,186199,50912,2183-05-17 04:30:00,3.1,3.1,mg/dL,abnormal,2183-05-17 04:30:00,186199,186199_3,Creatinine,Blood,Chemistry,2160-0
21,632,337738,lab339188,495,186199,50912,2183-05-18 04:00:00,3.0,3.0,mg/dL,abnormal,2183-05-18 04:00:00,186199,186199_3,Creatinine,Blood,Chemistry,2160-0
22,652,337758,lab339208,495,186199,50912,2183-05-19 02:30:00,3.2,3.2,mg/dL,abnormal,2183-05-19 02:30:00,186199,186199_4,Creatinine,Blood,Chemistry,2160-0
23,681,338290,lab339237,495,186199,50912,2183-05-20 01:30:00,3.8,3.8,mg/dL,abnormal,2183-05-20 01:30:00,186199,186199_4,Creatinine,Blood,Chemistry,2160-0
24,711,339036,lab339267,495,186199,50912,2183-05-20 18:25:00,4.3,4.3,mg/dL,abnormal,2183-05-20 18:25:00,186199,186199_4,Creatinine,Blood,Chemistry,2160-0
25,744,339069,lab339300,495,186199,50912,2183-05-21 03:15:00,4.6,4.6,mg/dL,abnormal,2183-05-21 03:15:00,186199,186199_5,Creatinine,Blood,Chemistry,2160-0
42,1358,1327273,lab1475130,2324,129210,50912,2135-12-04 14:47:00,3.0,3.0,mg/dL,abnormal,2135-12-04 14:47:00,129210,129210_4,Creatinine,Blood,Chemistry,2160-0
43,1408,1525840,lab1474420,2324,129210,50912,2135-11-27 12:50:00,3.4,3.4,mg/dL,abnormal,2135-11-27 12:50:00,129210,129210_1,Creatinine,Blood,Chemistry,2160-0
44,1552,1528586,lab1474713,2324,129210,50912,2135-11-30 06:00:00,4.0,4.0,mg/dL,abnormal,2135-11-30 06:00:00,129210,129210_2,Creatinine,Blood,Chemistry,2160-0
45,1574,1528608,lab1474735,2324,129210,50912,2135-12-01 06:29:00,4.1,4.1,mg/dL,abnormal,2135-12-01 06:29:00,129210,129210_3,Creatinine,Blood,Chemistry,2160-0
46,1599,1528759,lab1474833,2324,129210,50912,2135-12-03 21:24:00,3.9,3.9,mg/dL,abnormal,2135-12-03 21:24:00,129210,129210_4,Creatinine,Blood,Chemistry,2160-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16780,8569,17731907,lab18361668,29774,151162,50908,2108-06-01 21:44:00,12.9,12.9,%,abnormal,2108-06-01 21:44:00,151162,151162_2,CK-MB Index,Blood,Chemistry,20569-0
16781,8579,17734605,lab18361678,29774,151162,50908,2108-06-02 05:00:00,12.2,12.2,%,abnormal,2108-06-02 05:00:00,151162,151162_2,CK-MB Index,Blood,Chemistry,20569-0
16782,8611,17734637,lab18361710,29774,151162,50908,2108-06-02 18:35:00,9.5,9.5,%,abnormal,2108-06-02 18:35:00,151162,151162_2,CK-MB Index,Blood,Chemistry,20569-0
16783,8621,17736948,lab18361720,29774,151162,50908,2108-06-03 05:05:00,8.8,8.8,%,abnormal,2108-06-03 05:05:00,151162,151162_3,CK-MB Index,Blood,Chemistry,20569-0
16784,9719,19276248,lab19345770,31730,174225,50908,2150-11-15 12:21:00,11.2,11.2,%,abnormal,2150-11-15 12:21:00,174225,174225_3,CK-MB Index,Blood,Chemistry,20569-0
16785,9731,19276260,lab19345782,31730,174225,50908,2150-11-15 20:58:00,10.0,10.0,%,abnormal,2150-11-15 20:58:00,174225,174225_3,CK-MB Index,Blood,Chemistry,20569-0
16786,9748,19276277,lab19345799,31730,174225,50908,2150-11-16 04:11:00,9.9,9.9,%,abnormal,2150-11-16 04:11:00,174225,174225_4,CK-MB Index,Blood,Chemistry,20569-0
16787,9793,19283820,lab19345844,31730,174225,50908,2150-11-16 10:48:00,9.2,9.2,%,abnormal,2150-11-16 10:48:00,174225,174225_4,CK-MB Index,Blood,Chemistry,20569-0
16788,9814,19283841,lab19345865,31730,174225,50908,2150-11-17 00:09:00,7.4,7.4,%,abnormal,2150-11-17 00:09:00,174225,174225_4,CK-MB Index,Blood,Chemistry,20569-0
16790,9980,19327057,lab19345918,31730,174225,50908,2150-11-18 00:10:00,6.2,6.2,%,abnormal,2150-11-18 00:10:00,174225,174225_5,CK-MB Index,Blood,Chemistry,20569-0
16804,12793,24658746,lab24712772,75626,151408,50908,2127-01-13 22:40:00,10.2,10.2,%,abnormal,2127-01-13 22:40:00,151408,151408_1,CK-MB Index,Blood,Chemistry,20569-0
16807,13435,24717578,lab24741172,75856,122406,50908,2123-09-28 03:34:00,10.1,10.1,%,abnormal,2123-09-28 03:34:00,122406,122406_4,CK-MB Index,Blood,Chemistry,20569-0
16808,13475,24717995,lab24741212,75856,122406,50908,2123-09-28 12:37:00,7.4,7.4,%,abnormal,2123-09-28 12:37:00,122406,122406_4,CK-MB Index,Blood,Chemistry,20569-0
16812,3819,5201125,lab5241260,8309,135502,50929,2115-04-16 12:59:00,1.2,1.2,ug/mL,abnormal,2115-04-16 12:59:00,135502,135502_2,Gentamicin,Blood,Chemistry,35668-3
16813,6959,11142384,lab11093040,17905,183330,50929,2153-09-07 03:42:00,3.9,3.9,ug/mL,abnormal,2153-09-07 03:42:00,183330,183330_5,Gentamicin,Blood,Chemistry,35668-3
16814,7074,11150172,lab11093156,17905,183330,50929,2153-09-08 02:09:00,0.7,0.7,ug/mL,abnormal,2153-09-08 02:09:00,183330,183330_5,Gentamicin,Blood,Chemistry,35668-3
16815,7151,11155275,lab11093233,17905,183330,50929,2153-09-08 14:32:00,2.5,2.5,ug/mL,abnormal,2153-09-08 14:32:00,183330,183330_5,Gentamicin,Blood,Chemistry,35668-3
16816,7257,11160379,lab11093339,17905,183330,50929,2153-09-10 02:04:00,1.9,1.9,ug/mL,abnormal,2153-09-10 02:04:00,183330,183330_6,Gentamicin,Blood,Chemistry,35668-3
16817,7552,12815529,lab12936478,20937,175419,50929,2122-08-17 23:00:00,1.2,1.2,ug/mL,abnormal,2122-08-17 23:00:00,175419,175419_2,Gentamicin,Blood,Chemistry,35668-3
16819,11019,20729426,lab20942123,47912,182705,50929,2179-10-29 14:50:00,11.8,11.8,ug/mL,abnormal,2179-10-29 14:50:00,182705,182705_2,Gentamicin,Blood,Chemistry,35668-3
16820,11097,20748657,lab20942201,47912,182705,50929,2179-10-30 12:29:00,3.5,3.5,ug/mL,abnormal,2179-10-30 12:29:00,182705,182705_2,Gentamicin,Blood,Chemistry,35668-3
16965,8047,16105542,lab15948138,25785,196076,50967,2141-04-06 08:55:00,66.4,66.4,ug/mL,abnormal,2141-04-06 08:55:00,196076,196076_2,Phenytoin,Blood,Chemistry,3967-7
16966,8053,16105548,lab15948144,25785,196076,50967,2141-04-06 16:45:00,8.7,8.7,ug/mL,abnormal,2141-04-06 16:45:00,196076,196076_2,Phenytoin,Blood,Chemistry,3967-7
16970,12553,22428717,lab23228404,64192,160781,50967,2179-04-13 04:09:00,0.9,0.9,ug/mL,abnormal,2179-04-13 04:09:00,160781,160781_3,Phenytoin,Blood,Chemistry,3967-7
16971,13011,24687634,lab24712886,75626,151408,50967,2127-01-15 03:28:00,2.7,2.7,ug/mL,abnormal,2127-01-15 03:28:00,151408,151408_2,Phenytoin,Blood,Chemistry,3967-7
16972,13420,24716626,lab24713084,75626,151408,50967,2127-01-17 12:29:00,8.5,8.5,ug/mL,abnormal,2127-01-17 12:29:00,151408,151408_3,Phenytoin,Blood,Chemistry,3967-7
16973,13530,24726376,lab24713125,75626,151408,50967,2127-01-18 09:15:00,6.6,6.6,ug/mL,abnormal,2127-01-18 09:15:00,151408,151408_3,Phenytoin,Blood,Chemistry,3967-7
17003,10059,19332256,lab19345997,31730,174225,51444,2150-11-18 16:26:00,2,2.0,%,abnormal,2150-11-18 16:26:00,174225,174225_5,Eosinophils,Pleural,Hematology,30379-2
17004,10060,19332257,lab19345998,31730,174225,51446,2150-11-18 16:26:00,10,10.0,%,abnormal,2150-11-18 16:26:00,174225,174225_5,Lymphocytes,Pleural,Hematology,26481-2
17021,13300,24708228,lab24741110,75856,122406,50915,2123-09-27 12:06:00,1264,1264.0,ng/mL,abnormal,2123-09-27 12:06:00,122406,122406_4,D-Dimer,Blood,Chemistry,None

In [12]:
labevents_subset_abnormal = pd.get_dummies(labevents_subset_abnormal, prefix='abnormal_lab', columns=['LABEL'])

In [13]:
labevents_subset_abnormal

,Unnamed: 0,index_x,ROW_ID_x,SUBJECT_ID,HADM_ID_x,ITEMID,CHARTTIME_x,VALUE,VALUENUM,VALUEUOM,...,abnormal_lab_Troponin I,abnormal_lab_Troponin T,abnormal_lab_Urea Nitrogen,abnormal_lab_Urobilinogen,abnormal_lab_Vancomycin,abnormal_lab_WBC,abnormal_lab_White Blood Cells,abnormal_lab_pCO2,abnormal_lab_pH,abnormal_lab_pO2
0,0,204360,lab212234,338,194592,50912,2135-11-01 06:00:00,1.3,1.3,mg/dL,...,0,0,0,0,0,0,0,0,0,0
1,40,204400,lab212274,338,194592,50912,2135-11-02 06:00:00,1.4,1.4,mg/dL,...,0,0,0,0,0,0,0,0,0,0
2,68,204904,lab212302,338,194592,50912,2135-11-03 08:50:00,1.3,1.3,mg/dL,...,0,0,0,0,0,0,0,0,0,0
3,87,209756,lab212001,338,194592,50912,2135-10-27 05:25:00,1.5,1.5,mg/dL,...,0,0,0,0,0,0,0,0,0,0
4,121,210499,lab212035,338,194592,50912,2135-10-27 19:01:00,1.4,1.4,mg/dL,...,0,0,0,0,0,0,0,0,0,0
5,144,210522,lab212058,338,194592,50912,2135-10-28 00:20:00,1.4,1.4,mg/dL,...,0,0,0,0,0,0,0,0,0,0
6,191,211766,lab212105,338,194592,50912,2135-10-28 14:20:00,1.3,1.3,mg/dL,...,0,0,0,0,0,0,0,0,0,0
8,206,211781,lab212120,338,194592,50912,2135-10-29 07:05:00,1.3,1.3,mg/dL,...,0,0,0,0,0,0,0,0,0,0
9,232,212279,lab212146,338,194592,50912,2135-10-30 06:50:00,1.4,1.4,mg/dL,...,0,0,0,0,0,0,0,0,0,0
10,272,213028,lab212186,338,194592,50912,2135-10-31 05:30:00,1.3,1.3,mg/dL,...,0,0,0,0,0,0,0,0,0,0
11,330,219815,lab211947,338,194592,50912,2135-10-26 19:30:00,1.5,1.5,mg/dL,...,0,0,0,0,0,0,0,0,0,0
12,379,330109,lab339339,495,186199,50912,2183-05-21 16:09:00,4.7,4.7,mg/dL,...,0,0,0,0,0,0,0,0,0,0
13,392,330122,lab339352,495,186199,50912,2183-05-21 22:00:00,4.3,4.3,mg/dL,...,0,0,0,0,0,0,0,0,0,0
14,442,330657,lab339402,495,186199,50912,2183-05-22 04:00:00,4.2,4.2,mg/dL,...,0,0,0,0,0,0,0,0,0,0
15,496,331946,lab339456,495,186199,50912,2183-05-22 08:44:00,4.1,4.1,mg/dL,...,0,0,0,0,0,0,0,0,0,0
16,521,335681,lab339077,495,186199,50912,2183-05-13 16:45:00,3.5,3.5,mg/dL,...,0,0,0,0,0,0,0,0,0,0
17,561,336454,lab339117,495,186199,50912,2183-05-14 05:30:00,3.5,3.5,mg/dL,...,0,0,0,0,0,0,0,0,0,0
18,572,336465,lab339128,495,186199,50912,2183-05-15 05:20:00,3.2,3.2,mg/dL,...,0,0,0,0,0,0,0,0,0,0
19,592,336974,lab339148,495,186199,50912,2183-05-16 05:00:00,3.0,3.0,mg/dL,...,0,0,0,0,0,0,0,0,0,0
20,612,336994,lab339168,495,186199,50912,2183-05-17 04:30:00,3.1,3.1,mg/dL,...,0,0,0,0,0,0,0,0,0,0
21,632,337738,lab339188,495,186199,50912,2183-05-18 04:00:00,3.0,3.0,mg/dL,...,0,0,0,0,0,0,0,0,0,0
22,652,337758,lab339208,495,186199,50912,2183-05-19 02:30:00,3.2,3.2,mg/dL,...,0,0,0,0,0,0,0,0,0,0
23,681,338290,lab339237,495,186199,50912,2183-05-20 01:30:00,3.8,3.8,mg/dL,...,0,0,0,0,0,0,0,0,0,0
24,711,339036,lab339267,495,186199,50912,2183-05-20 18:25:00,4.3,4.3,mg/dL,...,0,0,0,0,0,0,0,0,0,0
25,744,339069,lab339300,495,186199,50912,2183-05-21 03:15:00,4.6,4.6,mg/dL,...,0,0,0,0,0,0,0,0,0,0
42,1358,1327273,lab1475130,2324,129210,50912,2135-12-04 14:47:00,3.0,3.0,mg/dL,...,0,0,0,0,0,0,0,0,0,0
43,1408,1525840,lab1474420,2324,129210,50912,2135-11-27 12:50:00,3.4,3.4,mg/dL,...,0,0,0,0,0,0,0,0,0,0
44,1552,1528586,lab1474713,2324,129210,50912,2135-11-30 06:00:00,4.0,4.0,mg/dL,...,0,0,0,0,0,0,0,0,0,0
45,1574,1528608,lab1474735,2324,129210,50912,2135-12-01 06:29:00,4.1,4.1,mg/dL,...,0,0,0,0,0,0,0,0,0,0
46,1599,1528759,lab1474833,2324,129210,50912,2135-12-03 21:24:00,3.9,3.9,mg/dL,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16780,8569,17731907,lab18361668,29774,151162,50908,2108-06-01 21:44:00,12.9,12.9,%,...,0,0,0,0,0,0,0,0,0,0
16781,8579,17734605,lab18361678,29774,151162,50908,2108-06-02 05:00:00,12.2,12.2,%,...,0,0,0,0,0,0,0,0,0,0
16782,8611,17734637,lab18361710,29774,151162,50908,2108-06-02 18:35:00,9.5,9.5,%,...,0,0,0,0,0,0,0,0,0,0
16783,8621,17736948,lab18361720,29774,151162,50908,2108-06-03 05:05:00,8.8,8.8,%,...,0,0,0,0,0,0,0,0,0,0
16784,9719,19276248,lab19345770,31730,174225,50908,2150-11-15 12:21:00,11.2,11.2,%,...,0,0,0,0,0,0,0,0,0,0
16785,9731,19276260,lab19345782,31730,174225,50908,2150-11-15 20:58:00,10.0,10.0,%,...,0,0,0,0,0,0,0,0,0,0
16786,9748,19276277,lab19345799,31730,174225,50908,2150-11-16 04:11:00,9.9,9.9,%,...,0,0,0,0,0,0,0,0,0,0
16787,9793,19283820,lab19345844,31730,174225,50908,2150-11-16 10:48:00,9.2,9.2,%,...,0,0,0,0,0,0,0,0,0,0
16788,9814,19283841,lab19345865,31730,174225,50908,2150-11-17 00:09:00,7.4,7.4,%,...,0,0,0,0,0,0,0,0,0,0
16790,9980,19327057,lab19345918,31730,174225,50908,2150-11-18 00:10:00,6.2,6.2,%,...,0,0,0,0,0,0,0,0,0,0
16804,12793,24658746,lab24712772,75626,151408,50908,2127-01-13 22:40:00,10.2,10.2,%,...,0,0,0,0,0,0,0,0,0,0
16807,13435,24717578,lab24741172,75856,122406,50908,2123-09-28 03:34:00,10.1,10.1,%,...,0,0,0,0,0,0,0,0,0,0
16808,13475,24717995,lab24741212,75856,122406,50908,2123-09-28 12:37:00,7.4,7.4,%,...,0,0,0,0,0,0,0,0,0,0
16812,3819,5201125,lab5241260,8309,135502,50929,2115-04-16 12:59:00,1.2,1.2,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16813,6959,11142384,lab11093040,17905,183330,50929,2153-09-07 03:42:00,3.9,3.9,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16814,7074,11150172,lab11093156,17905,183330,50929,2153-09-08 02:09:00,0.7,0.7,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16815,7151,11155275,lab11093233,17905,183330,50929,2153-09-08 14:32:00,2.5,2.5,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16816,7257,11160379,lab11093339,17905,183330,50929,2153-09-10 02:04:00,1.9,1.9,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16817,7552,12815529,lab12936478,20937,175419,50929,2122-08-17 23:00:00,1.2,1.2,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16819,11019,20729426,lab20942123,47912,182705,50929,2179-10-29 14:50:00,11.8,11.8,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16820,11097,20748657,lab20942201,47912,182705,50929,2179-10-30 12:29:00,3.5,3.5,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16965,8047,16105542,lab15948138,25785,196076,50967,2141-04-06 08:55:00,66.4,66.4,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16966,8053,16105548,lab15948144,25785,196076,50967,2141-04-06 16:45:00,8.7,8.7,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16970,12553,22428717,lab23228404,64192,160781,50967,2179-04-13 04:09:00,0.9,0.9,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16971,13011,24687634,lab24712886,75626,151408,50967,2127-01-15 03:28:00,2.7,2.7,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16972,13420,24716626,lab24713084,75626,151408,50967,2127-01-17 12:29:00,8.5,8.5,ug/mL,...,0,0,0,0,0,0,0,0,0,0
16973,13530,24726376,lab24713125,75626,151408,50967,2127-01-18 09:15:00,6.6,6.6,ug/mL,...,0,0,0,0,0,0,0,0,0,0
17003,10059,19332256,lab19345997,31730,174225,51444,2150-11-18 16:26:00,2,2.0,%,...,0,0,0,0,0,0,0,0,0,0
17004,10060,19332257,lab19345998,31730,174225,51446,2150-11-18 16:26:00,10,10.0,%,...,0,0,0,0,0,0,0,0,0,0
17021,13300,24708228,lab24741110,75856,122406,50915,2123-09-27 12:06:00,1264,1264.0,ng/mL,...,0,0,0,0,0,0,0,0,0,0

In [14]:
labevents_subset_features = pd.concat([labevents_subset_abnormal, labevents_subset_normal], sort=False)

In [15]:
labevents_subset_features = labevents_subset_features.drop('LABEL', axis=1)

In [16]:
labevents_subset_features

,Unnamed: 0,index_x,ROW_ID_x,SUBJECT_ID,HADM_ID_x,ITEMID,CHARTTIME_x,VALUE,VALUENUM,VALUEUOM,...,abnormal_lab_Troponin I,abnormal_lab_Troponin T,abnormal_lab_Urea Nitrogen,abnormal_lab_Urobilinogen,abnormal_lab_Vancomycin,abnormal_lab_WBC,abnormal_lab_White Blood Cells,abnormal_lab_pCO2,abnormal_lab_pH,abnormal_lab_pO2
0,0,204360,lab212234,338,194592,50912,2135-11-01 06:00:00,1.3,1.3,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,40,204400,lab212274,338,194592,50912,2135-11-02 06:00:00,1.4,1.4,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,68,204904,lab212302,338,194592,50912,2135-11-03 08:50:00,1.3,1.3,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,87,209756,lab212001,338,194592,50912,2135-10-27 05:25:00,1.5,1.5,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,121,210499,lab212035,338,194592,50912,2135-10-27 19:01:00,1.4,1.4,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,144,210522,lab212058,338,194592,50912,2135-10-28 00:20:00,1.4,1.4,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,191,211766,lab212105,338,194592,50912,2135-10-28 14:20:00,1.3,1.3,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,206,211781,lab212120,338,194592,50912,2135-10-29 07:05:00,1.3,1.3,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,232,212279,lab212146,338,194592,50912,2135-10-30 06:50:00,1.4,1.4,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,272,213028,lab212186,338,194592,50912,2135-10-31 05:30:00,1.3,1.3,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,330,219815,lab211947,338,194592,50912,2135-10-26 19:30:00,1.5,1.5,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,379,330109,lab339339,495,186199,50912,2183-05-21 16:09:00,4.7,4.7,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,392,330122,lab339352,495,186199,50912,2183-05-21 22:00:00,4.3,4.3,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,442,330657,lab339402,495,186199,50912,2183-05-22 04:00:00,4.2,4.2,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,496,331946,lab339456,495,186199,50912,2183-05-22 08:44:00,4.1,4.1,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,521,335681,lab339077,495,186199,50912,2183-05-13 16:45:00,3.5,3.5,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,561,336454,lab339117,495,186199,50912,2183-05-14 05:30:00,3.5,3.5,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,572,336465,lab339128,495,186199,50912,2183-05-15 05:20:00,3.2,3.2,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,592,336974,lab339148,495,186199,50912,2183-05-16 05:00:00,3.0,3.0,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,612,336994,lab339168,495,186199,50912,2183-05-17 04:30:00,3.1,3.1,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,632,337738,lab339188,495,186199,50912,2183-05-18 04:00:00,3.0,3.0,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,652,337758,lab339208,495,186199,50912,2183-05-19 02:30:00,3.2,3.2,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,681,338290,lab339237,495,186199,50912,2183-05-20 01:30:00,3.8,3.8,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,711,339036,lab339267,495,186199,50912,2183-05-20 18:25:00,4.3,4.3,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,744,339069,lab339300,495,186199,50912,2183-05-21 03:15:00,4.6,4.6,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,1358,1327273,lab1475130,2324,129210,50912,2135-12-04 14:47:00,3.0,3.0,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,1408,1525840,lab1474420,2324,129210,50912,2135-11-27 12:50:00,3.4,3.4,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,1552,1528586,lab1474713,2324,129210,50912,2135-11-30 06:00:00,4.0,4.0,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,1574,1528608,lab1474735,2324,129210,50912,2135-12-01 06:29:00,4.1,4.1,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,1599,1528759,lab1474833,2324,129210,50912,2135-12-03 21:24:00,3.9,3.9,mg/dL,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16979,7603,14175854,lab14250193,23008,163415,51224,2181-03-03 13:40:00,0,0.0,%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16980,7604,14175855,lab14250194,23008,163415,51226,2181-03-03 13:40:00,100,100.0,%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16981,7605,14175856,lab14250195,23008,163415,51227,2181-03-03 13:40:00,0,0.0,%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16982,8118,16136353,lab15948032,25785,196076,50920,2141-04-03 19:30:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16983,8232,17233879,lab17663768,28572,144424,50920,2109-07-06 14:51:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16984,8465,17249398,lab17664001,28572,144424,50920,2109-07-14 05:00:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16985,8499,17729170,lab18361598,29774,151162,50920,2108-05-31 20:35:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16986,9094,18164779,lab18020530,29191,174377,50920,2142-08-13 08:05:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16987,9381,19164947,lab19426798,31928,155418,50920,2123-12-08 17:20:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16988,9881,19296872,lab19345593,31730,174225,50920,2150-11-12 07:10:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16989,10114,19334594,lab19346052,31730,174225,50920,2150-11-19 15:00:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16990,12906,24669246,lab24740861,75856,122406,50920,2123-09-22 21:40:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16991,13754,24737402,lab24741343,75856,122406,50920,2123-09-30 02:26:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16992,14350,25546918,lab25233918,79425,150548,50920,2167-03-17 07:01:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16993,14461,25639573,lab25233512,79425,150548,50920,2167-03-09 20:20:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16994,16266,27123662,lab26913338,92475,133162,50920,2143-08-25 07:30:00,See Comments,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16995,8542,17731880,lab18361641,29774,151162,50942,2108-06-01 05:32:00,NEGATIVE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16996,9612,19263604,lab19345663,31730,174225,50890,2150-11-14 06:50:00,127,127.0,mg/dL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16997,10005,19327082,lab19345943,31730,174225,50890,2150-11-18 09:46:00,107,107.0,mg/dL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17000,10056,19332253,lab19345994,31730,174225,51046,2150-11-18 16:26:00,1.1,1.1,g/dL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17001,10057,19332254,lab19345995,31730,174225,51054,2150-11-18 16:26:00,105,105.0,IU/L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17002,10058,19332255,lab19345996,31730,174225,51059,2150-11-18 16:26:00,1.7,1.7,g/dL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17012,10132,19993885,lab20019264,40788,105348,50955,2155-10-21 22:17:00,HOLD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17013,14464,25639576,lab25233515,79425,150548,50955,2167-03-09 20:20:00,HOLD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17017,11210,20758471,lab20942314,47912,182705,50951,2179-11-01 10:22:00,79,79.0,mg/dL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17020,13231,24698508,lab24741081,75856,122406,51264,2123-09-27 07:10:00,1+,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17024,14586,25649311,lab25233637,79425,150548,51501,2167-03-11 16:44:00,<1,NaN,#/hpf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17028,15429,26919504,lab27213305,94828,150832,50866,2112-08-09 21:34:00,21,21.0,umol/L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17031,15533,26929364,lab27213409,94828,150832,51095,2112-08-11 15:20:00,39.7,39.7,mg/dL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17035,16346,27142946,lab26913418,92475,133162,51292,2143-08-25 18:02:00,1+,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
filter_col = [col for col in labevents_subset_features if col.startswith('abnormal')]
filter_col.append('HADM_datebin_num')
labevents_subset_abnormal_features = labevents_subset_features[filter_col].groupby('HADM_datebin_num').sum()

In [18]:
labevents_subset_abnormal_features

,abnormal_lab_Alanine Aminotransferase (ALT),abnormal_lab_Albumin,abnormal_lab_Alkaline Phosphatase,abnormal_lab_Anion Gap,abnormal_lab_Asparate Aminotransferase (AST),abnormal_lab_Bands,abnormal_lab_Bicarbonate,"abnormal_lab_Bilirubin, Direct","abnormal_lab_Bilirubin, Total",abnormal_lab_CK-MB Index,...,abnormal_lab_Troponin I,abnormal_lab_Troponin T,abnormal_lab_Urea Nitrogen,abnormal_lab_Urobilinogen,abnormal_lab_Vancomycin,abnormal_lab_WBC,abnormal_lab_White Blood Cells,abnormal_lab_pCO2,abnormal_lab_pH,abnormal_lab_pO2
HADM_datebin_num,,,,,,,,,,,,,,,,,,,,,
102390_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
102390_2,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,1.0,4.0
102390_3,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
102390_4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105348_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
105348_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105348_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105348_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105348_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
116543_1,0.0,0.0,2.0,5.0,0.0,0.0,6.0,0.0,0.0,0.0,...,0.0,0.0,6.0,0.0,0.0,0.0,2.0,2.0,5.0,2.0
116543_2,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,1.0,1.0,2.0,1.0
116543_3,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
117382_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
117382_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
117382_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
117382_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
117382_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
118776_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
122406_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
122406_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
122406_3,0.0,1.0,0.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
122406_4,1.0,0.0,0.0,4.0,2.0,0.0,0.0,1.0,2.0,2.0,...,0.0,4.0,4.0,0.0,0.0,0.0,3.0,6.0,3.0,9.0
122406_5,2.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,0.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,1.0,4.0
124326_1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
124326_2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
124326_3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
124326_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
128770_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
128770_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0
128770_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186199_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
186199_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
186199_4,1.0,1.0,0.0,2.0,2.0,0.0,1.0,1.0,2.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
186199_5,2.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,2.0,2.0,2.0,4.0
186278_1,2.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,4.0
186278_2,2.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
186278_3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
186278_4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
186278_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190494_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
190494_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
190494_3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,3.0,2.0,1.0,4.0
190494_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,2.0,1.0,0.0,3.0
190494_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
190494_6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
192441_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
192441_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
192441_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,2.0,9.0
192441_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,5.0
192441_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
192441_6,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
194592_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
194592_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
194592_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
194592_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
194592_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196076_1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196076_2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196076_3,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196076_4,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

### Extract numeric features out of chartevents

In [19]:
# What ITEMID from chartevents do we care about?
chart_ids_we_care = {
    'heart_rate': [211, 220045],
    'oxygen': [646, 220277, 834],
    'respiratory rate': [618,220210,3603,224689],
    'systolic blood pressure': [51, 455, 220179, 220050, 3313, 225309],
    'diastolic blood pressure': [8368, 8441, 220180, 220051, 8502, 225310],
    'mean blood pressure': [52, 456, 220181, 220052, 3312, 225312],
    'Glascow': [184, 723, 454, 220739, 223900, 223901],
    'temp F': [678, 223761, 679, ]
}
outputevents_ids_we_care = {
    'urine': [40055, 226559, 43175, 40069, 40094, 40065, 40061, 40715, 226627, 40473]
}
lab_ids_we_care = {
    'Hematocrit': [51221],
    'potassium': [50971],
    'sodium': [50983],
    'creatinine': [50912],
    'chloride': [50902],
    'platelets': [51265],
    'white blood cell': [51301],
    'hemoglobin': [51222],
    'glucose': [50931],
    'RBC count': [51279]
}

In [20]:
l = list(chart_ids_we_care.values())
flat_list = [item for sublist in l for item in sublist]
chartevents_subset_selected = chartevents_subset_binned[chartevents_subset_binned['ITEMID'].isin(flat_list)]
itemid_to_var_df = pd.read_csv('./resources/itemid_to_variable_map.csv')
chartevents_subset_selected = chartevents_subset_selected.merge(itemid_to_var_df, on='ITEMID')
cols_to_keep = ['SUBJECT_ID', 'HADM_ID_x', 'ITEMID', 'CHARTTIME_x', 'VALUE', 'VALUENUM', 'VALUEUOM', 'LEVEL2', 'HADM_datebin_num']
chartevents_subset_selected = chartevents_subset_selected[cols_to_keep]

In [21]:
#get rid off empty values
chartevents_subset_selected = chartevents_subset_selected[chartevents_subset_selected['VALUENUM'].notnull()]

In [22]:
chartevents_features_max = chartevents_subset_selected.groupby(['HADM_datebin_num','LEVEL2'])['VALUENUM'].max().unstack()
chartevents_features_min = chartevents_subset_selected.groupby(['HADM_datebin_num','LEVEL2'])['VALUENUM'].min().unstack()
chartevents_features_mean = chartevents_subset_selected.groupby(['HADM_datebin_num','LEVEL2'])['VALUENUM'].mean().unstack()

In [23]:
chartevents_features_max = chartevents_features_max.add_suffix('_max')
chartevents_features_min = chartevents_features_min.add_suffix('_min')
chartevents_features_mean = chartevents_features_mean.add_suffix('_mean')
chartevents_features = pd.concat([chartevents_features_max, chartevents_features_min, chartevents_features_mean], axis=1)
# chartevents_features.reset_index(inplace=True)
chartevents_features.fillna(chartevents_features.mean(), inplace=True)

In [24]:
chartevents_features

LEVEL2,Diastolic blood pressure_max,Glascow coma scale eye opening_max,Glascow coma scale motor response_max,Glascow coma scale verbal response_max,Heart Rate_max,Mean blood pressure_max,Oxygen saturation_max,Respiratory rate_max,Systolic blood pressure_max,Temperature_max,...,Diastolic blood pressure_mean,Glascow coma scale eye opening_mean,Glascow coma scale motor response_mean,Glascow coma scale verbal response_mean,Heart Rate_mean,Mean blood pressure_mean,Oxygen saturation_mean,Respiratory rate_mean,Systolic blood pressure_mean,Temperature_mean
HADM_datebin_num,,,,,,,,,,,,,,,,,,,,,
102390_1,63.000000,1.000000,4.000000,1.000000,84.0,89.000000,100.000000,24.0,147.000000,97.000000,...,54.000000,1.000000,4.000000,1.000000,77.666667,76.000000,100.000000,14.000000,131.800000,97.000000
102390_2,65.000000,1.000000,5.000000,1.000000,89.0,95.000000,100.000000,26.0,160.000000,101.500000,...,54.288462,1.000000,4.404255,1.000000,75.960784,79.557692,100.000000,15.984375,131.807692,99.342857
102390_3,76.000000,1.000000,4.000000,1.000000,102.0,116.000000,100.000000,38.0,173.000000,100.900000,...,60.551020,1.000000,4.000000,1.000000,70.408163,89.040816,99.816327,16.682540,146.122449,99.600000
102390_4,110.000000,1.000000,4.000000,1.000000,128.0,117.000000,100.000000,39.0,186.000000,101.600000,...,68.106383,1.000000,4.000000,1.000000,99.042553,91.936170,93.382979,18.183333,136.787234,100.930000
105348_1,79.000000,4.000000,6.000000,5.000000,147.0,86.000000,100.000000,21.0,132.000000,100.000000,...,57.000000,3.666667,6.000000,5.000000,118.739130,70.571429,98.478261,13.086957,114.238095,98.085714
105348_2,63.000000,4.000000,6.000000,5.000000,136.0,77.000000,100.000000,17.0,128.000000,101.100000,...,54.066667,3.750000,6.000000,5.000000,125.733333,69.000000,99.066667,13.666667,120.600000,99.725000
116543_1,85.000000,4.000000,6.000000,5.000000,114.0,133.000000,99.000000,27.0,112.000000,100.100000,...,50.833333,3.000000,4.250000,3.500000,85.081081,60.166667,95.363636,17.918919,87.250000,98.612500
116543_2,64.000000,4.000000,6.000000,5.000000,88.0,73.000000,100.000000,34.0,116.000000,98.100000,...,47.046512,2.800000,5.200000,3.600000,80.844444,56.697674,97.444444,18.977778,89.465116,96.422222
117382_1,100.000000,4.000000,6.000000,5.000000,96.0,126.000000,100.000000,25.0,184.000000,98.599998,...,67.285714,3.600000,6.000000,5.000000,78.071429,98.238093,98.071429,17.285714,160.142857,97.750000
117382_2,104.000000,4.000000,6.000000,5.000000,108.0,117.000000,100.000000,26.0,172.000000,100.800003,...,56.872340,3.911765,6.000000,5.000000,71.183673,84.978743,98.775510,19.729167,141.191489,98.981818
117382_3,102.000000,4.000000,6.000000,5.000000,78.0,117.667000,100.000000,26.0,179.000000,99.400002,...,61.076923,4.000000,6.000000,5.000000,64.682927,90.803415,98.048780,19.731707,150.256410,98.237500
118776_1,115.000000,2.000000,6.000000,2.000000,99.0,145.000000,99.000000,28.0,217.000000,98.599998,...,60.762712,1.071429,4.857143,1.500000,77.075000,90.408052,95.030303,21.325000,144.779661,97.525000
122406_4,112.000000,3.000000,5.000000,4.000000,130.0,122.000000,100.000000,34.0,152.000000,100.600000,...,61.365385,1.375000,3.875000,1.375000,103.372549,73.538462,96.928571,14.719298,107.250000,98.840000
122406_5,69.000000,2.000000,5.000000,1.000000,140.0,88.000000,100.000000,22.0,129.000000,100.400000,...,48.816327,1.375000,4.142857,1.000000,119.882353,65.469388,98.808511,14.694915,103.346939,99.175000
122406_6,68.000000,2.000000,5.000000,1.000000,134.0,86.000000,100.000000,29.0,128.000000,102.300000,...,46.000000,1.500000,3.000000,1.000000,109.193548,56.333333,97.062500,16.333333,84.281250,100.600000
124326_1,68.000000,4.000000,6.000000,5.000000,104.0,88.000000,100.000000,12.0,137.000000,99.320000,...,53.250000,4.000000,6.000000,5.000000,86.363636,72.166667,99.416667,10.500000,116.083333,99.074999
124326_2,97.000000,4.000000,6.000000,5.000000,117.0,131.000000,100.000000,25.0,191.000000,99.500000,...,63.177778,4.000000,6.000000,5.000000,102.045455,85.822222,97.302326,13.255814,132.355556,98.947999
124326_3,95.000000,4.000000,6.000000,5.000000,110.0,135.000000,98.000000,27.0,192.000000,98.699997,...,75.000000,4.000000,6.000000,5.000000,101.000000,103.909091,96.500000,16.833333,154.727273,98.433332
128770_2,69.000000,4.000000,6.000000,5.000000,90.0,87.000000,100.000000,27.0,134.000000,99.139999,...,52.400000,4.000000,6.000000,3.666667,85.500000,69.750000,99.000000,12.368421,104.600000,97.112632
128770_3,62.000000,4.000000,6.000000,5.000000,92.0,85.000000,100.000000,24.0,133.000000,99.500000,...,49.639344,4.000000,6.000000,5.000000,82.821429,68.863387,97.000000,15.100000,107.639344,98.824347
128770_4,77.000000,4.000000,6.000000,5.000000,143.0,88.666702,98.000000,27.0,138.000000,99.400002,...,55.583333,4.000000,6.000000,5.000000,94.133333,72.370372,94.840000,16.886364,106.166667,98.612500
129210_1,55.000000,4.000000,6.000000,5.000000,108.0,80.000000,99.000000,22.0,130.000000,98.599998,...,40.600000,4.000000,6.000000,5.000000,93.800000,62.533340,98.200000,16.600000,106.400000,98.250000
129210_2,52.000000,4.000000,6.000000,5.000000,102.0,74.666702,100.000000,19.0,120.000000,97.599998,...,42.625000,4.000000,6.000000,5.000000,77.294118,63.187494,99.625000,15.352941,104.312500,96.875000
129210_4,78.000000,2.000000,4.000000,2.000000,104.0,117.000000,100.000000,20.0,164.000000,98.000000,...,57.652174,1.142857,2.285714,1.142857,87.304348,77.717391,99.666667,14.688889,108.510638,96.492857
133081_1,66.000000,4.000000,6.000000,5.000000,128.0,79.000000,100.000000,27.0,124.000000,97.500000,...,58.666667,4.000000,6.000000,5.000000,124.000000,72.666667,99.500000,23.750000,107.666667,97.500000
133081_2,82.000000,4.000000,6.000000,5.000000,127.0,92.000000,100.000000,29.0,138.000000,98.300000,...,59.833333,4.000000,6.000000,5.000000,109.285714,73.615385,98.666667,22.285714,120.583333,97.700000
133081_3,146.000000,2.000000,5.000000,1.000000,121.0,175.000000,100.000000,33.0,203.000000,99.500000,...,77.896552,1.666667,3.222222,1.000000,79.500000,96.448276,98.095238,17.838710,132.172414,97.818182
133081_4,107.000000,4.000000,2.000000,1.000000,143.0,109.000000,100.000000,26.0,152.000000,102.300000,...,70.180000,3.500000,1.250000,1.000000,105.437500,84.160000,99.244898,17.800000,129.960000,100.140000
133081_5,77.000000,4.000000,1.000000,1.000000,164.0,94.000000,100.000000,27.0,162.000000,101.300000,...,60.108108,1.833333,1.000000,1.000000,106.791667,76.378378,100.000000,18.813559,127.729730,99.858333
133081_6,81.561538,3.504065,5.439024,3.699187,121.0,101.482052,99.362205,23.0,143.653846,98.000000,...,56.346532,3.129363,5.065097,3.296978,80.333333,74.636434,96.771173,15.000000,114.968670,98.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183200_1,58.000000,4.000000,6.000000,5.000000,101.0,74.333298,100.000000,36.0,115.000000,98.800003,...,47.551724,4.000000,6.000000,4.714286,83.900000,64.551727,96.733333,27.533333,98.551724,97.937501
183200_2,92.000000,4.000000,6.000000,5.000000,119.0,102.333000,100.000000,39.0,127.000000,98.199997,...,61.770833,4.000000,6.000000,4.800000,91.750000,78.673602,96.062500,25.729167,112.479167,97.520000
183200_3,77.000000,4.000000,6.000000,5.000000,114.0,97.666702,100.000000,36.0,144.000000,98.400002,...,54.695238,2.473684,5.263158,2.052632,88.708738,70.374606,96.212963,25.320388,100.095238,97.572728
183200_4,69.000000,3.000000,5.000000,1.000000,152.0,84.000000,100.000000,50.0,119.000000,100.400002,...,54.649485,1.266667,4.200000,1.000000,107.298701,67.968752,96.950000,26.610390,92.187500,98.709092
183330_4,67.000000,4.000000,6.000000,5.000000,110.0,82.000000,100.000000,32.0,132.000000,102.099998,...,45.103448,4.000000,6.000000,4.375000,97.700000,64.977014,98.333333,24.800000,104.793103,99.890909
183330_5,72.000000,4.000000,6.000000,5.000000,111.0,104.000000,100.000000,29.0,158.000000,101.699997,...,52.923077,2.692308,5.461538,2.076923,88.384615,75.507692,97.564516,18.630769,116.123077,99.035715
183330_6,75.000000,4.000000,6.000000,1.000000,80.0,112.000000,100.000000,23.0,161.000000,99.400002,...,56.224138,2.444444,5.444444,1.000000,64.775862,80.241379,95.084746,10.758621,118.362069,97.837500
184273_1,86.000000,4.000000,6.000000,4.000000,90.0,100.333000,99.000000,27.0,129.000000,98.800003,...,48.444444,3.000000,5.333333,3.666667,88.000000,65.481433,91.800000,19.000000,99.555556,97.000000
184273_2,49.000000,4.000000,5.000000,1.000000,98.0,69.000000,100.000000,24.0,132.000000,97.800003,...,39.269231,2.909091,5.000000,1.000000,83.734694,60.391025,99.122807,18.400000,112.500000,96.912500
184273_3,83.000000,4.000000,6.000000,2.000000,147.0,168.000000,100.000000,20.0,130.000000,98.800003,...,44.750000,3.153846,5.153846,1.076923,86.933333,65.477275,99.065217,17.888889,102.727273,96.700000
184273_4,44.000000,2.000000,4.000000,2.000000,91.0,60.666698,99.000000,25.0,94.000000,95.800003,...,32.125000,2.000000,3.250000,2.000000,78.750000,45.541675,95.125000,16.125000,72.375000,95.800003
186199_4,73.000000,4.000000,6.000000,5.000000,72.0,80.666702,96.000000,29.0,103.000000,96.500000,...,54.000000,4.000000,6.000000,4.666667,70.882353,67.568623,93.357143,21.470588,94.705882,95.224998
186199_5,85.000000,4.000000,6.000000,5.000000,76.0,95.000000,99.000000,29.0,115.000000,97.400002,...,49.044118,4.000000,6.000000,4.875000,70.375000,60.666664,92.870968,18.750000,85.867647,95.837501
186278_1,83.000000,4.000000,6.000000,5.000000,118.0,92.000000,100.000000,32.0,135.000000,101.800000,...,63.216216,2.625000,5.666667,2.000000,88.351351,71.378378,97.054054,19.723404,101.243243,100.227273
186278_2,92.000000,4.000000,6.000000,5.000000,128.0,101.000000,99.000000,29.0,142.000000,101.400000,...,75.866667,4.000000,6.000000,4.500000,104.679245,85.581395,95.117647,22.509434,121.244444,99.240000
186278_3,99.000000,4.000000,6.000000,5.000000,116.0,111.000000,96.000000,30.0,143.000000,100.800000,...,73.000000,4.000000,6.000000,4.333333,92.325581,82.794872,94.375000,22.837209,116.550000,98.616667
186278_4,79.000000,4.000000,6.000000,5.000000,104.0,88.000000,95.000000,30.0,125.000000,98.900000,...,71.000000,4.000000,6.000000,5.000000,88.105263,80.235294,94.428571,22.578947,115.176471,98.375000
190494_1,61.000000,3.000000,6.000000,1.000000,48.0,81.000000,99.000000,19.0,138.000000,97.400000,...,56.000000,3.000000,6.000000,1.000000,44.000000,74.750000,98.800000,11.000000,127.250000,97.400000
190494_2,180.000000,4.000000,6.000000,1.000000,93.0,183.000000,100.000000,29.0,185.000000,98.800000,...,54.851351,3.454545,6.000000,1.000000,55.428571,70.040541,98.507937,13.278481,108.351351,98.116667
190494_3,94.000000,4.000000,6.000000,1.000000,120.0,120.000000,100.000000,24.0,179.000000,99.900000,...,61.180000,3.714286,5.761905,1.000000,71.148936,81.260000,97.382979,13.258621,121.120000,99.000000
190494_4,76.000000,4.000000,6.000000,5.000000,118.0,98.000000,100.000000,34.0,142.000000,100.700000,...,62.632653,4.000000,5.761905,2.904762,94.816327,80.877551,97.142857,16.764706,113.489796,99.169231
190494_5,84.000000,4.000000,6.000000,4.000000,137.0,107.000000,100.000000,25.0,154.000000,101.100000,...,60.820000,3.727273,5.636364,4.000000,103.300000,77.120000,97.000000,17.080000,111.420000,99.266667
190494_6,80.000000,4.000000,6.000000,5.000000,116.0,93.000000,98.000000,26.0,140.000000,99.300000,...,60.875000,4.000000,6.000000,4.500000,97.687500,70.875000,96.375000,20.187500,106.187500,98.925000
192441_3,83.000000,4.000000,6.000000,5.000000,95.0,93.000000,100.000000,44.0,126.000000,99.500000,...,44.769231,3.200000,5.000000,3.400000,89.580645,63.161900,99.482759,18.214286,97.641026,98.115385
192441_4,116.000000,4.000000,6.000000,5.000000,103.0,125.000000,100.000000,30.0,146.000000,100.940002,...,48.762376,4.000000,6.000000,5.000000,91.472973,69.274913,97.833333,21.698630,111.742574,99.848388
192441_5,59.000000,4.000000,6.000000,5.000000,96.0,75.000000,100.000000,26.0,122.000000,100.760002,...,41.452381,4.000000,6.000000,5.000000,79.833333,62.777773,98.534884,19.697674,105.428571,99.061714
194592_1,67.000000,4.000000,6.000000,5.000000,95.0,95.000000,99.000000,20.0,151.000000,99.699997,...,61.400000,4.000000,6.000000,5.000000,87.000000,84.066660,97.166667,17.000000,129.400000,99.049999
194592_2,84.000000,4.000000,6.000000,5.000000,98.0,99.000000,100.000000,26.0,134.000000,99.599998,...,65.111111,4.000000,6.000000,5.000000,80.190476,83.499994,98.450000,17.047619,120.277778,98.540001
196076_1,75.000000,4.000000,5.000000,2.000000,99.0,95.000000,100.000000,20.0,139.000000,98.500000,...,46.888889,2.500000,5.000000,2.000000,89.333333,69.444444,99.315789,15.777778,115.666667,97.666667
196076_2,77.000000,3.000000,6.000000,3.000000,108.0,91.000000,99.000000,24.0,144.000000,98.800003,...,54.750000,3.000000,5.200000,2.200000,98.625000,80.250000,97.750000,16.437500,135.312500,98.125000

### Extract numeric features from lab events

In [25]:
l = list(lab_ids_we_care.values())
flat_list = [item for sublist in l for item in sublist]
labevents_subset_selected = labevents_subset_binned[labevents_subset_binned['ITEMID'].isin(flat_list)]
labevents_subset_selected = labevents_subset_selected.merge(itemid_to_var_df, on='ITEMID')
cols_to_keep = ['SUBJECT_ID', 'HADM_ID_x', 'ITEMID', 'CHARTTIME_x', 'VALUE', 'VALUENUM', 'VALUEUOM', 'LEVEL2', 'HADM_datebin_num']
labevents_subset_selected = labevents_subset_selected[cols_to_keep]
labevents_subset_selected = labevents_subset_selected[labevents_subset_selected['VALUENUM'].notnull()]
labevents_features_max = labevents_subset_selected.groupby(['HADM_datebin_num','LEVEL2'])['VALUENUM'].max().unstack()
labevents_features_min = labevents_subset_selected.groupby(['HADM_datebin_num','LEVEL2'])['VALUENUM'].min().unstack()
labevents_features_mean = labevents_subset_selected.groupby(['HADM_datebin_num','LEVEL2'])['VALUENUM'].mean().unstack()
labevents_features_max = labevents_features_max.add_suffix('_max')
labevents_features_min = labevents_features_min.add_suffix('_min')
labevents_features_mean = labevents_features_mean.add_suffix('_mean')
labevents_features = pd.concat([labevents_features_max, labevents_features_min, labevents_features_mean], axis=1)
# labevents_features.reset_index(inplace=True)
labevents_features.fillna(labevents_features.mean(),inplace=True)

### Extract numeric features from outevents

In [26]:
l = list(outputevents_ids_we_care.values())
flat_list = [item for sublist in l for item in sublist]
outputevents_subset_selected = outputevents_subset_binned[outputevents_subset_binned['ITEMID'].isin(flat_list)]
outputevents_subset_selected = outputevents_subset_selected.merge(itemid_to_var_df, on='ITEMID')
cols_to_keep = ['SUBJECT_ID', 'HADM_ID_x', 'ITEMID', 'CHARTTIME_x', 'VALUE', 'VALUEUOM', 'LEVEL2', 'HADM_datebin_num']
outputevents_subset_selected = outputevents_subset_selected[cols_to_keep]
outputevents_subset_selected = outputevents_subset_selected[outputevents_subset_selected['VALUE'].notnull()]
outputevents_features_sum = outputevents_subset_selected.groupby(['HADM_datebin_num','LEVEL2'])['VALUE'].sum().unstack()

outputevents_features_sum = outputevents_features_sum.add_suffix('_sum')
# labevents_features.reset_index(inplace=True)
outputevents_features_sum.fillna(outputevents_features_sum.mean(),inplace=True)

In [27]:
outputevents_features_sum

LEVEL2            Urine output_sum
HADM_datebin_num
102390_2                    5390.0
102390_3                    4775.0
102390_4                    3350.0
105348_1                    1870.0
105348_2                    1600.0
116543_1                     205.0
116543_2                      95.0
117382_1                     980.0
117382_2                    2160.0
117382_3                    2640.0
118776_1                    1597.0
122406_4                     473.0
122406_5                     896.0
122406_6                     195.0
124326_1                     137.0
124326_2                    1542.0
124326_3                     770.0
128770_2                    2700.0
128770_3                    6430.0
128770_4                    3720.0
129210_1                     355.0
129210_2                     560.0
129210_4                      91.0
133081_1                     280.0
133081_2                     990.0
133081_3                     487.0
133081_4                    2775.0
133081_5                    2737.0
133081_6                      50.0
133162_3                     335.0
...                            ...
182705_3                    1159.0
182705_4                    3779.0
183200_1                     508.0
183200_2                    4565.0
183200_3                    3010.0
183200_4                    1714.0
183330_4                    1575.0
183330_5                    7525.0
183330_6                    3875.0
184273_1                       5.0
184273_2                    1127.0
184273_3                    1140.0
184273_4                       3.0
186199_4                       0.0
186199_5                      35.0
186278_1                    3705.0
186278_2                     710.0
190494_1                     170.0
190494_2                    1732.0
190494_3                    3530.0
190494_4                    4025.0
190494_5                    6590.0
190494_6                    1735.0
192441_3                    4133.0
192441_4                    5079.0
192441_5                    4553.0
194592_1                    1010.0
194592_2                    1241.0
196076_1                     917.0
196076_2                     449.0

[114 rows x 1 columns]

### Merge Everything

In [28]:
feature_table = labevents_features.merge(chartevents_features, left_index=True, right_index=True, how='outer')
feature_table = feature_table.merge(labevents_subset_abnormal_features, left_index=True, right_index=True, how='outer')
feature_table = feature_table.merge(outputevents_features_sum, left_index=True, right_index=True, how='outer')

In [29]:
feature_table

,Chloride_max,Creatinine_max,Glucose_max,Hematocrit_max,Hemoglobin_max,Platelets_max,Potassium_max,Red blood cell count_max,Sodium_max,White blood cell count_max,...,abnormal_lab_Troponin T,abnormal_lab_Urea Nitrogen,abnormal_lab_Urobilinogen,abnormal_lab_Vancomycin,abnormal_lab_WBC,abnormal_lab_White Blood Cells,abnormal_lab_pCO2,abnormal_lab_pH,abnormal_lab_pO2,Urine output_sum
HADM_datebin_num,,,,,,,,,,,,,,,,,,,,,
102390_1,108.000000,0.8,160.000000,35.400000,12.400000,210.000000,2.9,3.800000,143.000000,10.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
102390_2,120.000000,0.7,207.000000,30.300000,10.600000,211.000000,3.3,3.280000,148.000000,12.700000,...,0.0,0.0,0.0,0.0,0.0,2.0,4.0,1.0,4.0,5390.0
102390_3,118.000000,0.6,137.000000,25.000000,8.900000,165.000000,4.0,2.700000,144.000000,9.800000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,4775.0
102390_4,114.000000,0.6,142.000000,26.800000,9.300000,203.000000,3.2,2.870000,142.000000,8.900000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3350.0
105348_1,110.000000,0.9,148.000000,32.100000,11.700000,312.000000,4.7,3.610000,140.000000,16.100000,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1870.0
105348_2,105.000000,0.7,122.000000,30.300000,7.200000,154.000000,4.3,2.260000,137.000000,7.700000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1600.0
105348_3,106.000000,0.5,97.000000,28.100000,9.800000,157.000000,4.0,3.180000,140.000000,7.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
105348_4,105.000000,0.5,117.000000,28.000000,10.100000,239.000000,4.0,3.300000,139.000000,7.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
105348_5,101.000000,0.7,116.000000,30.600000,11.146237,214.803191,4.8,3.754731,137.000000,10.946237,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
116543_1,105.000000,3.7,206.000000,30.200000,9.300000,256.000000,5.0,3.880000,135.000000,12.800000,...,0.0,6.0,0.0,0.0,0.0,2.0,2.0,5.0,2.0,205.0
116543_2,101.000000,4.7,131.000000,31.500000,9.400000,236.000000,5.5,3.960000,130.000000,15.400000,...,0.0,3.0,0.0,0.0,0.0,1.0,1.0,2.0,1.0,95.0
116543_3,103.000000,6.6,103.000000,27.900000,8.600000,212.000000,5.4,3.670000,134.000000,13.200000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
117382_1,106.000000,1.1,112.000000,37.800000,13.700000,197.000000,4.0,4.230000,143.000000,7.100000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,980.0
117382_2,105.000000,1.1,137.000000,34.000000,12.100000,207.000000,4.1,3.910000,140.000000,9.400000,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2160.0
117382_3,107.000000,0.9,113.000000,32.400000,11.600000,174.000000,3.9,3.750000,141.000000,8.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2640.0
117382_4,106.000000,1.0,133.000000,32.600000,11.600000,194.000000,3.8,3.670000,143.000000,10.900000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
117382_5,102.000000,0.9,98.000000,36.900000,13.200000,269.000000,4.2,4.290000,139.000000,10.600000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
118776_1,100.000000,0.9,165.000000,37.300000,13.100000,215.000000,4.5,4.350000,138.000000,9.900000,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0
122406_1,95.000000,2.1,194.000000,49.900000,16.900000,211.000000,4.6,5.500000,136.000000,10.100000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
122406_2,97.000000,2.2,174.000000,48.200000,15.800000,193.000000,4.2,5.300000,141.000000,9.500000,...,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
122406_3,94.000000,2.4,221.000000,49.600000,16.600000,209.000000,6.2,5.410000,140.000000,10.000000,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
122406_4,97.000000,3.4,220.000000,53.200000,17.100000,203.000000,4.6,5.830000,140.000000,17.600000,...,4.0,4.0,0.0,0.0,0.0,3.0,6.0,3.0,9.0,473.0
122406_5,98.000000,4.1,209.000000,43.800000,14.500000,157.000000,4.3,4.870000,140.000000,17.300000,...,1.0,2.0,0.0,0.0,0.0,2.0,0.0,1.0,4.0,896.0
122406_6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0
124326_1,110.000000,1.9,167.000000,37.300000,13.100000,254.000000,4.7,4.550000,141.000000,18.300000,...,0.0,5.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,137.0
124326_2,110.000000,1.9,111.000000,28.600000,9.700000,154.000000,4.2,3.340000,142.000000,11.900000,...,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1542.0
124326_3,113.000000,2.0,101.000000,30.900000,10.000000,192.000000,4.0,3.560000,145.000000,12.600000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,770.0
124326_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
128770_1,103.000000,0.9,113.000000,42.600000,14.300000,242.000000,4.0,4.600000,136.000000,7.900000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
128770_2,105.406417,0.9,159.650538,40.400000,11.146237,155.000000,4.4,3.754731,139.631016,10.946237,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,6.0,2700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186199_2,97.000000,3.2,210.000000,34.400000,11.100000,174.000000,4.1,3.870000,134.000000,4.000000,...,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
186199_3,98.000000,3.1,111.000000,29.500000,9.500000,157.000000,4.3,3.370000,137.000000,4.200000,...,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
186199_4,95.000000,4.3,179.000000,33.500000,9.900000,171.000000,5.2,3.330000,134.000000,7.600000,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
186199_5,94.000000,4.7,162.000000,27.500000,9.300000,135.000000,4.8,3.140000,132.000000,5.500000,...,0.0,5.0,0.0,0.0,0.0,2.0,2.0,2.0,4.0,35.0
186278_1,110.000000,0.9,145.000000,38.400000,13.500000,240.000000,4.0,4.100000,146.000000,15.100000,...,4.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,4.0,3705.0
186278_2,110.000000,0.8,196.000000,36.000000,12.800000,278.000000,4.0,3.880000,141.000000,13.200000,...,4.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,710.0
186278_3,107.000000,0.7,104.000000,32.800000,11.800000,296.000000,3.9,3.560000,140.000000,11.100000,...,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
186278_4,105.000000,0.6,116.000000,33.100000,11.700000,436.000000,3.7,3.630000,138.000000,10.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
186278_5,105.000000,0.7,97.000000,32.100000,11.100000,593.000000,4.0,3.500000,139.000000,10.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
190494_1,106.000000,1.0,141.000000,45.800000,14.800000,232.000000,4.6,5.130000,140.000000,11.500000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,170.0
190494_2,111.000000,1.6,288.000000,46.300000,15.100000,276.000000,4.3,5.250000,148.000000,29.000000,...,0.0,3.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1732.0
190494_3,111.000000,1.2,184.000000,42.800000,14.000000,221.000000,4.4,4.770000,149.000000,27.000000,...,0.0,5.0,0.0,0.0,0.0,3.0,2.0,1.0,4.0,3530.0
190494_4,108.000000,1.0,161.000000,39.900000,12.900000,211.000000,4.2,4.480000,142.000000,20.800000,...,0.0,2.0,0.0,0.0,0.0,2.0,1.0,0.0,3.0,4025.0
190494_5,105.000000,0.9,176.000000,34.900000,11.300000,148.000000,4.8,3.900000,140.000000,13.200000,...,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,6590.0
190494_6,103.000000,0.8,170.000000,33.600000,10.900000,188.000000,4.7,3.770000,139.000000,11.300000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1735.0
192441_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
192441_2,100.000000,0.9,146.000000,36.500000,12.500000,198.000000,4.6,4.170000,139.000000,5.900000,...,0.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN
192441_3,107.000000,1.2,161.000000,33.400000,11.800000,152.000000,4.1,4.030000,140.000000,5.300000,...,0.0,2.0,0.0,0.0,0.0,0.0,3.0,2.0,9.0,4133.0
192441_4,107.000000,0.9,60.000000,27.800000,9.800000,234.000000,4.9,3.370000,138.000000,16.900000,...,0.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,5.0,5079.0
192441_5,99.000000,0.9,146.000000,31.200000,9.900000,109.000000,4.7,3.290000,138.000000,8.600000,...,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,4553.0
192441_6,98.000000,1.0,157.000000,36.600000,12.700000,191.000000,4.5,4.320000,137.000000,8.200000,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
194592_1,97.000000,1.5,123.000000,37.800000,12.500000,164.000000,4.8,5.070000,137.000000,10.900000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1010.0
194592_2,101.000000,1.4,130.000000,31.800000,10.500000,133.000000,4.8,4.140000,137.000000,7.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1241.0
194592_3,102.000000,1.4,96.000000,29.000000,9.600000,184.000000,4.6,3.820000,139.000000,5.900000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN
194592_4,104.000000,1.4,90.000000,29.300000,10.100000,217.000000,4.0,3.850000,140.000000,5.200000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
194592_5,106.000000,1.3,157.000000,30.700000,10.200000,232.000000,4.6,4.030000,140.000000,4.800000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
196076_1,107.000000,1.5,254.000000,33.600000,10.800000,316.000000,4.6,3.410000,143.000000,10.600000,...,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,917.0
196076_2,119.000000,1.8,154.000000,31.400000,9.500000,230.000000,4.5,3.130000,148.000000,8.800000,...,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,449.0
196076_3,118.000000,1.7,236.000000,33.592105,11.146237,214.803191,4.7,3.754731,146.000000,10.946237,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
196076_4,118.000000,1.7,167.000000,33.200000,9.900000,146.000000,4.8,3.310000,148.000000,12.900000,...,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN

### Add HADM_ID back into the feature table, also create bin_num to mark which bin it is for that patient. these will be useful for assigning death labels

In [30]:
feature_table['HADM_ID'] = feature_table.index
feature_table[['HADM_ID', 'bin_num']] = feature_table['HADM_ID'].str.split('_', expand=True)
feature_table['HADM_ID'] = pd.to_numeric(feature_table['HADM_ID'])
feature_table['bin_num'] = pd.to_numeric(feature_table['bin_num'])

In [31]:
feature_table

,Chloride_max,Creatinine_max,Glucose_max,Hematocrit_max,Hemoglobin_max,Platelets_max,Potassium_max,Red blood cell count_max,Sodium_max,White blood cell count_max,...,abnormal_lab_Urobilinogen,abnormal_lab_Vancomycin,abnormal_lab_WBC,abnormal_lab_White Blood Cells,abnormal_lab_pCO2,abnormal_lab_pH,abnormal_lab_pO2,Urine output_sum,HADM_ID,bin_num
HADM_datebin_num,,,,,,,,,,,,,,,,,,,,,
102390_1,108.000000,0.8,160.000000,35.400000,12.400000,210.000000,2.9,3.800000,143.000000,10.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,102390,1
102390_2,120.000000,0.7,207.000000,30.300000,10.600000,211.000000,3.3,3.280000,148.000000,12.700000,...,0.0,0.0,0.0,2.0,4.0,1.0,4.0,5390.0,102390,2
102390_3,118.000000,0.6,137.000000,25.000000,8.900000,165.000000,4.0,2.700000,144.000000,9.800000,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,4775.0,102390,3
102390_4,114.000000,0.6,142.000000,26.800000,9.300000,203.000000,3.2,2.870000,142.000000,8.900000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3350.0,102390,4
105348_1,110.000000,0.9,148.000000,32.100000,11.700000,312.000000,4.7,3.610000,140.000000,16.100000,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1870.0,105348,1
105348_2,105.000000,0.7,122.000000,30.300000,7.200000,154.000000,4.3,2.260000,137.000000,7.700000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1600.0,105348,2
105348_3,106.000000,0.5,97.000000,28.100000,9.800000,157.000000,4.0,3.180000,140.000000,7.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,105348,3
105348_4,105.000000,0.5,117.000000,28.000000,10.100000,239.000000,4.0,3.300000,139.000000,7.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,105348,4
105348_5,101.000000,0.7,116.000000,30.600000,11.146237,214.803191,4.8,3.754731,137.000000,10.946237,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,105348,5
116543_1,105.000000,3.7,206.000000,30.200000,9.300000,256.000000,5.0,3.880000,135.000000,12.800000,...,0.0,0.0,0.0,2.0,2.0,5.0,2.0,205.0,116543,1
116543_2,101.000000,4.7,131.000000,31.500000,9.400000,236.000000,5.5,3.960000,130.000000,15.400000,...,0.0,0.0,0.0,1.0,1.0,2.0,1.0,95.0,116543,2
116543_3,103.000000,6.6,103.000000,27.900000,8.600000,212.000000,5.4,3.670000,134.000000,13.200000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,116543,3
117382_1,106.000000,1.1,112.000000,37.800000,13.700000,197.000000,4.0,4.230000,143.000000,7.100000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,980.0,117382,1
117382_2,105.000000,1.1,137.000000,34.000000,12.100000,207.000000,4.1,3.910000,140.000000,9.400000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2160.0,117382,2
117382_3,107.000000,0.9,113.000000,32.400000,11.600000,174.000000,3.9,3.750000,141.000000,8.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2640.0,117382,3
117382_4,106.000000,1.0,133.000000,32.600000,11.600000,194.000000,3.8,3.670000,143.000000,10.900000,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,117382,4
117382_5,102.000000,0.9,98.000000,36.900000,13.200000,269.000000,4.2,4.290000,139.000000,10.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,117382,5
118776_1,100.000000,0.9,165.000000,37.300000,13.100000,215.000000,4.5,4.350000,138.000000,9.900000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1597.0,118776,1
122406_1,95.000000,2.1,194.000000,49.900000,16.900000,211.000000,4.6,5.500000,136.000000,10.100000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,122406,1
122406_2,97.000000,2.2,174.000000,48.200000,15.800000,193.000000,4.2,5.300000,141.000000,9.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,122406,2
122406_3,94.000000,2.4,221.000000,49.600000,16.600000,209.000000,6.2,5.410000,140.000000,10.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,122406,3
122406_4,97.000000,3.4,220.000000,53.200000,17.100000,203.000000,4.6,5.830000,140.000000,17.600000,...,0.0,0.0,0.0,3.0,6.0,3.0,9.0,473.0,122406,4
122406_5,98.000000,4.1,209.000000,43.800000,14.500000,157.000000,4.3,4.870000,140.000000,17.300000,...,0.0,0.0,0.0,2.0,0.0,1.0,4.0,896.0,122406,5
122406_6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0,122406,6
124326_1,110.000000,1.9,167.000000,37.300000,13.100000,254.000000,4.7,4.550000,141.000000,18.300000,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,137.0,124326,1
124326_2,110.000000,1.9,111.000000,28.600000,9.700000,154.000000,4.2,3.340000,142.000000,11.900000,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1542.0,124326,2
124326_3,113.000000,2.0,101.000000,30.900000,10.000000,192.000000,4.0,3.560000,145.000000,12.600000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,770.0,124326,3
124326_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,124326,4
128770_1,103.000000,0.9,113.000000,42.600000,14.300000,242.000000,4.0,4.600000,136.000000,7.900000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,128770,1
128770_2,105.406417,0.9,159.650538,40.400000,11.146237,155.000000,4.4,3.754731,139.631016,10.946237,...,0.0,0.0,0.0,0.0,3.0,2.0,6.0,2700.0,128770,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186199_2,97.000000,3.2,210.000000,34.400000,11.100000,174.000000,4.1,3.870000,134.000000,4.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,186199,2
186199_3,98.000000,3.1,111.000000,29.500000,9.500000,157.000000,4.3,3.370000,137.000000,4.200000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,186199,3
186199_4,95.000000,4.3,179.000000,33.500000,9.900000,171.000000,5.2,3.330000,134.000000,7.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,186199,4
186199_5,94.000000,4.7,162.000000,27.500000,9.300000,135.000000,4.8,3.140000,132.000000,5.500000,...,0.0,0.0,0.0,2.0,2.0,2.0,4.0,35.0,186199,5
186278_1,110.000000,0.9,145.000000,38.400000,13.500000,240.000000,4.0,4.100000,146.000000,15.100000,...,0.0,0.0,0.0,3.0,1.0,0.0,4.0,3705.0,186278,1
186278_2,110.000000,0.8,196.000000,36.000000,12.800000,278.000000,4.0,3.880000,141.000000,13.200000,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,710.0,186278,2
186278_3,107.000000,0.7,104.000000,32.800000,11.800000,296.000000,3.9,3.560000,140.000000,11.100000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,186278,3
186278_4,105.000000,0.6,116.000000,33.100000,11.700000,436.000000,3.7,3.630000,138.000000,10.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,186278,4
186278_5,105.000000,0.7,97.000000,32.100000,11.100000,593.000000,4.0,3.500000,139.000000,10.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,186278,5
190494_1,106.000000,1.0,141.000000,45.800000,14.800000,232.000000,4.6,5.130000,140.000000,11.500000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,170.0,190494,1
190494_2,111.000000,1.6,288.000000,46.300000,15.100000,276.000000,4.3,5.250000,148.000000,29.000000,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1732.0,190494,2
190494_3,111.000000,1.2,184.000000,42.800000,14.000000,221.000000,4.4,4.770000,149.000000,27.000000,...,0.0,0.0,0.0,3.0,2.0,1.0,4.0,3530.0,190494,3
190494_4,108.000000,1.0,161.000000,39.900000,12.900000,211.000000,4.2,4.480000,142.000000,20.800000,...,0.0,0.0,0.0,2.0,1.0,0.0,3.0,4025.0,190494,4
190494_5,105.000000,0.9,176.000000,34.900000,11.300000,148.000000,4.8,3.900000,140.000000,13.200000,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,6590.0,190494,5
190494_6,103.000000,0.8,170.000000,33.600000,10.900000,188.000000,4.7,3.770000,139.000000,11.300000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1735.0,190494,6
192441_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,192441,1
192441_2,100.000000,0.9,146.000000,36.500000,12.500000,198.000000,4.6,4.170000,139.000000,5.900000,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,192441,2
192441_3,107.000000,1.2,161.000000,33.400000,11.800000,152.000000,4.1,4.030000,140.000000,5.300000,...,0.0,0.0,0.0,0.0,3.0,2.0,9.0,4133.0,192441,3
192441_4,107.000000,0.9,60.000000,27.800000,9.800000,234.000000,4.9,3.370000,138.000000,16.900000,...,0.0,0.0,0.0,1.0,3.0,0.0,5.0,5079.0,192441,4
192441_5,99.000000,0.9,146.000000,31.200000,9.900000,109.000000,4.7,3.290000,138.000000,8.600000,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,4553.0,192441,5
192441_6,98.000000,1.0,157.000000,36.600000,12.700000,191.000000,4.5,4.320000,137.000000,8.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,192441,6
194592_1,97.000000,1.5,123.000000,37.800000,12.500000,164.000000,4.8,5.070000,137.000000,10.900000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1010.0,194592,1
194592_2,101.000000,1.4,130.000000,31.800000,10.500000,133.000000,4.8,4.140000,137.000000,7.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1241.0,194592,2
194592_3,102.000000,1.4,96.000000,29.000000,9.600000,184.000000,4.6,3.820000,139.000000,5.900000,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,194592,3
194592_4,104.000000,1.4,90.000000,29.300000,10.100000,217.000000,4.0,3.850000,140.000000,5.200000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,194592,4
194592_5,106.000000,1.3,157.000000,30.700000,10.200000,232.000000,4.6,4.030000,140.000000,4.800000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,194592,5
196076_1,107.000000,1.5,254.000000,33.600000,10.800000,316.000000,4.6,3.410000,143.000000,10.600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,917.0,196076,1
196076_2,119.000000,1.8,154.000000,31.400000,9.500000,230.000000,4.5,3.130000,148.000000,8.800000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,449.0,196076,2
196076_3,118.000000,1.7,236.000000,33.592105,11.146237,214.803191,4.7,3.754731,146.000000,10.946237,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,196076,3
196076_4,118.000000,1.7,167.000000,33.200000,9.900000,146.000000,4.8,3.310000,148.000000,12.900000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,196076,4

### Obtain number of diagnoses for each patient

In [32]:
diagnoses_subset = pd.read_csv('./subsets_tables_collection/diagnoses_icd_subset.csv')

In [33]:
diagnoses_count = diagnoses_subset.groupby('HADM_ID')['ICD9_CODE'].count()

### Obtain number of medications for each patient

In [34]:
prescriptions_subset = pd.read_csv('./subsets_tables_collection/prescriptions_subset.csv')
prescriptions_count = prescriptions_subset.groupby(['HADM_ID', 'DRUG_TYPE'])['DRUG'].count().unstack()
prescriptions_count.fillna(0, inplace=True)
prescriptions_count = prescriptions_count.add_suffix('_drug')

In [35]:
prescriptions_count.reset_index(level=0, inplace=True)
prescriptions_count.head()

DRUG_TYPE  HADM_ID  ADDITIVE_drug  BASE_drug  MAIN_drug
0           102390            0.0       27.0       52.0
1           105348            0.0       25.0       49.0
2           116543            0.0       25.0       44.0
3           117382            0.0       11.0       46.0
4           122406            0.0       32.0       79.0

In [36]:
diagnoses_count= pd.DataFrame({'HADM_ID':diagnoses_count.index, 'diag_count':diagnoses_count.values})
diagnoses_count.head()

   HADM_ID  diag_count
0   102390          14
1   105348          12
2   116543          26
3   117382           8
4   118776           9

In [37]:
diagnoses_count.dtypes

HADM_ID       int64
diag_count    int64
dtype: object

In [38]:
prescriptions_count.dtypes

DRUG_TYPE
HADM_ID            int64
ADDITIVE_drug    float64
BASE_drug        float64
MAIN_drug        float64
dtype: object

In [39]:
prescription_diag_merge = pd.merge(diagnoses_count, prescriptions_count, how='outer', on='HADM_ID')
prescription_diag_merge = prescription_diag_merge.dropna()

In [40]:
prescription_diag_merge

    HADM_ID  diag_count  ADDITIVE_drug  BASE_drug  MAIN_drug
0    102390          14            0.0       27.0       52.0
1    105348          12            0.0       25.0       49.0
2    116543          26            0.0       25.0       44.0
3    117382           8            0.0       11.0       46.0
5    122406          18            0.0       32.0       79.0
7    128770           9            0.0        9.0       80.0
8    129210          28            0.0       52.0      156.0
9    133081          22            2.0       32.0       69.0
10   133162          22            0.0       15.0       87.0
12   144424          14            0.0       18.0       87.0
13   150548          22            0.0       33.0       90.0
14   150832          36            0.0       48.0      112.0
15   151162          15            0.0        4.0       38.0
16   151408           9            0.0       36.0       58.0
17   151881           8            0.0       14.0       30.0
18   154543          17            0.0        9.0       45.0
19   155418          17            0.0       12.0       42.0
20   158150          38            0.0       19.0      121.0
22   160709           9            0.0        9.0       64.0
23   160781          17            0.0      116.0      169.0
25   163415           6            0.0       10.0       85.0
27   166581           9            1.0       27.0      117.0
28   174225          13            0.0       26.0      116.0
29   174377          11            0.0       14.0       96.0
31   175645          15            0.0       11.0       62.0
32   176453           6            0.0        0.0        1.0
33   182705          21            0.0       51.0       96.0
34   183200           9            0.0       19.0       55.0
35   183330          18            0.0       57.0       88.0
37   186199           9            2.0       29.0       65.0
38   186278          14            0.0       36.0       81.0
39   190494          21            0.0       33.0       90.0
40   192441           7            0.0       12.0      125.0
41   194592          11            0.0       12.0       33.0
42   196076          13            0.0       21.0       39.0

Merge diagnoses and medications

### Incorporate demographics info

In [41]:
admissions_subset = pd.read_csv('./subsets_tables_collection/admissions_subset.csv')
patients = pd.read_sql("""SELECT subject_id, gender
                            FROM patients
                            """, conn)
patients.replace(['M','F'], [0,1], inplace=True)
patients.rename(columns={'GENDER': 'is_female'}, inplace=True)
admissions_with_gender = admissions_subset.merge(patients,on='SUBJECT_ID')
admissions_with_gender = admissions_with_gender[['HADM_ID', 'INSURANCE', 'ETHNICITY', 'is_female']]
admissions_features = pd.get_dummies(admissions_with_gender, prefix=['insurance','ethnicity'], columns=['INSURANCE', 'ETHNICITY'])
patient_features = admissions_features.merge(prescription_diag_merge, on='HADM_ID')

In [42]:
feature_table = feature_table.merge(patient_features, on='HADM_ID')
feature_table.dtypes

Chloride_max                            float64
Creatinine_max                          float64
Glucose_max                             float64
Hematocrit_max                          float64
Hemoglobin_max                          float64
Platelets_max                           float64
Potassium_max                           float64
Red blood cell count_max                float64
Sodium_max                              float64
White blood cell count_max              float64
Chloride_min                            float64
Creatinine_min                          float64
Glucose_min                             float64
Hematocrit_min                          float64
Hemoglobin_min                          float64
Platelets_min                           float64
Potassium_min                           float64
Red blood cell count_min                float64
Sodium_min                              float64
White blood cell count_min              float64
Chloride_mean                           float64
Creatinine_mean                         float64
Glucose_mean                            float64
Hematocrit_mean                         float64
Hemoglobin_mean                         float64
Platelets_mean                          float64
Potassium_mean                          float64
Red blood cell count_mean               float64
Sodium_mean                             float64
White blood cell count_mean             float64
                                         ...
abnormal_lab_Transferrin                float64
abnormal_lab_Troponin I                 float64
abnormal_lab_Troponin T                 float64
abnormal_lab_Urea Nitrogen              float64
abnormal_lab_Urobilinogen               float64
abnormal_lab_Vancomycin                 float64
abnormal_lab_WBC                        float64
abnormal_lab_White Blood Cells          float64
abnormal_lab_pCO2                       float64
abnormal_lab_pH                         float64
abnormal_lab_pO2                        float64
Urine output_sum                        float64
HADM_ID                                   int64
bin_num                                   int64
is_female                                 int64
insurance_Medicaid                        uint8
insurance_Medicare                        uint8
insurance_Private                         uint8
ethnicity_ASIAN                           uint8
ethnicity_ASIAN - CHINESE                 uint8
ethnicity_BLACK/AFRICAN AMERICAN          uint8
ethnicity_MULTI RACE ETHNICITY            uint8
ethnicity_PATIENT DECLINED TO ANSWER      uint8
ethnicity_UNABLE TO OBTAIN                uint8
ethnicity_UNKNOWN/NOT SPECIFIED           uint8
ethnicity_WHITE                           uint8
diag_count                                int64
ADDITIVE_drug                           float64
BASE_drug                               float64
MAIN_drug                               float64
Length: 145, dtype: object

In [43]:
feature_table.groupby(['HADM_ID'],sort=False)['bin_num'].max()

HADM_ID
102390    4
105348    5
116543    3
117382    5
122406    6
128770    5
129210    4
133081    6
133162    4
144424    5
150548    6
150832    9
151162    6
151408    4
151881    2
154543    5
155418    4
158150    6
160709    4
160781    5
163415    4
166581    6
174225    6
174377    5
175645    5
176453    5
182705    5
183200    4
183330    6
186199    5
186278    5
190494    6
192441    6
194592    5
196076    4
Name: bin_num, dtype: int64

In [44]:
len(feature_table['HADM_ID'].value_counts())

35

In [45]:
import sqlite3
conn = sqlite3.connect("/Users/ergangwang/Downloads/DSAH_Final/data_MIMIC/MIMIC.db")
admissions_df=pd.read_sql("""
    SELECT * FROM admissions
""",conn)

In [46]:
idx=feature_table.groupby(['HADM_ID'],sort=False)['bin_num'].transform(max)==feature_table['bin_num']
feature_table=feature_table[-idx]

In [47]:
dead_patient_subject_ID=[75626,8309,884,2324,13965,75856,79425,31730,7519,17905,94828,83752,60659,495,92475,14182,47912]
live_patient_subject_ID =[3057, 29665, 28572, 84071, 14405, 40788, 42071, 29191, 9486, 10677, 31928, 20359, 29774, 746, 338, 24858, 88696, 20937, 23008, 10158]

In [48]:
dead_patient_HADM_ID=admissions_df[admissions_df['SUBJECT_ID'].isin(dead_patient_subject_ID)]['HADM_ID'].to_list()

In [50]:
bool_max=feature_table.groupby(['HADM_ID'],sort=False)['bin_num'].transform(max)
feature_table['label']=np.where((bool_max==feature_table['bin_num']) & (feature_table['HADM_ID'].isin(dead_patient_HADM_ID)),1,0)
feature_table.head(n=30)

,Chloride_max,Creatinine_max,Glucose_max,Hematocrit_max,Hemoglobin_max,Platelets_max,Potassium_max,Red blood cell count_max,Sodium_max,White blood cell count_max,...,ethnicity_MULTI RACE ETHNICITY,ethnicity_PATIENT DECLINED TO ANSWER,ethnicity_UNABLE TO OBTAIN,ethnicity_UNKNOWN/NOT SPECIFIED,ethnicity_WHITE,diag_count,ADDITIVE_drug,BASE_drug,MAIN_drug,label
0,108.000000,0.8,160.000000,35.4,12.400000,210.0,2.9,3.800000,143.000000,10.600000,...,0,0,0,0,0,14,0.0,27.0,52.0,0
1,120.000000,0.7,207.000000,30.3,10.600000,211.0,3.3,3.280000,148.000000,12.700000,...,0,0,0,0,0,14,0.0,27.0,52.0,0
2,118.000000,0.6,137.000000,25.0,8.900000,165.0,4.0,2.700000,144.000000,9.800000,...,0,0,0,0,0,14,0.0,27.0,52.0,1
4,110.000000,0.9,148.000000,32.1,11.700000,312.0,4.7,3.610000,140.000000,16.100000,...,1,0,0,0,0,12,0.0,25.0,49.0,0
5,105.000000,0.7,122.000000,30.3,7.200000,154.0,4.3,2.260000,137.000000,7.700000,...,1,0,0,0,0,12,0.0,25.0,49.0,0
6,106.000000,0.5,97.000000,28.1,9.800000,157.0,4.0,3.180000,140.000000,7.600000,...,1,0,0,0,0,12,0.0,25.0,49.0,0
7,105.000000,0.5,117.000000,28.0,10.100000,239.0,4.0,3.300000,139.000000,7.000000,...,1,0,0,0,0,12,0.0,25.0,49.0,0
9,105.000000,3.7,206.000000,30.2,9.300000,256.0,5.0,3.880000,135.000000,12.800000,...,0,0,0,0,1,26,0.0,25.0,44.0,0
10,101.000000,4.7,131.000000,31.5,9.400000,236.0,5.5,3.960000,130.000000,15.400000,...,0,0,0,0,1,26,0.0,25.0,44.0,1
12,106.000000,1.1,112.000000,37.8,13.700000,197.0,4.0,4.230000,143.000000,7.100000,...,0,0,0,0,1,8,0.0,11.0,46.0,0
13,105.000000,1.1,137.000000,34.0,12.100000,207.0,4.1,3.910000,140.000000,9.400000,...,0,0,0,0,1,8,0.0,11.0,46.0,0
14,107.000000,0.9,113.000000,32.4,11.600000,174.0,3.9,3.750000,141.000000,8.200000,...,0,0,0,0,1,8,0.0,11.0,46.0,0
15,106.000000,1.0,133.000000,32.6,11.600000,194.0,3.8,3.670000,143.000000,10.900000,...,0,0,0,0,1,8,0.0,11.0,46.0,0
17,95.000000,2.1,194.000000,49.9,16.900000,211.0,4.6,5.500000,136.000000,10.100000,...,0,0,0,0,1,18,0.0,32.0,79.0,0
18,97.000000,2.2,174.000000,48.2,15.800000,193.0,4.2,5.300000,141.000000,9.500000,...,0,0,0,0,1,18,0.0,32.0,79.0,0
19,94.000000,2.4,221.000000,49.6,16.600000,209.0,6.2,5.410000,140.000000,10.000000,...,0,0,0,0,1,18,0.0,32.0,79.0,0
20,97.000000,3.4,220.000000,53.2,17.100000,203.0,4.6,5.830000,140.000000,17.600000,...,0,0,0,0,1,18,0.0,32.0,79.0,0
21,98.000000,4.1,209.000000,43.8,14.500000,157.0,4.3,4.870000,140.000000,17.300000,...,0,0,0,0,1,18,0.0,32.0,79.0,1
23,103.000000,0.9,113.000000,42.6,14.300000,242.0,4.0,4.600000,136.000000,7.900000,...,0,0,0,0,1,9,0.0,9.0,80.0,0
24,105.406417,0.9,159.650538,40.4,11.146237,155.0,4.4,3.754731,139.631016,10.946237,...,0,0,0,0,1,9,0.0,9.0,80.0,0
25,106.000000,0.9,129.000000,28.2,8.800000,212.0,4.6,2.860000,136.000000,10.900000,...,0,0,0,0,1,9,0.0,9.0,80.0,0
26,99.000000,1.0,125.000000,26.8,8.900000,180.0,4.0,2.920000,134.000000,8.800000,...,0,0,0,0,1,9,0.0,9.0,80.0,0
28,120.000000,3.6,137.000000,32.1,10.300000,79.0,3.1,3.080000,140.000000,7.900000,...,0,0,0,0,1,28,0.0,52.0,156.0,0
29,117.000000,4.0,173.000000,25.1,8.500000,65.0,4.1,2.520000,139.000000,3.400000,...,0,0,0,0,1,28,0.0,52.0,156.0,0
30,108.000000,4.1,170.000000,26.4,8.800000,65.0,3.8,2.670000,135.000000,4.900000,...,0,0,0,0,1,28,0.0,52.0,156.0,1
32,107.000000,2.7,139.000000,50.1,16.400000,174.0,5.0,4.980000,135.000000,14.700000,...,0,0,0,0,0,22,2.0,32.0,69.0,0
33,109.000000,1.7,128.000000,50.9,15.800000,163.0,4.6,4.910000,137.000000,11.300000,...,0,0,0,0,0,22,2.0,32.0,69.0,0
34,120.000000,2.2,182.000000,52.1,15.700000,174.0,5.2,4.990000,146.000000,18.100000,...,0,0,0,0,0,22,2.0,32.0,69.0,0
35,113.000000,2.9,123.000000,46.8,14.400000,137.0,4.8,4.460000,144.000000,13.900000,...,0,0,0,0,0,22,2.0,32.0,69.0,0
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,22,2.0,32.0,69.0,1

In [51]:
feature_table.to_csv("/Users/ergangwang/Downloads/DSAH_Final/feature_with_label.csv",index=None, header=True)